form {
    margin: 0;
    min-width: 600px;
    font-size: .8em;
}

form div.Required,form div.Optional {
    display: block;
    margin-top: 2px;
    padding: 1px 3px;
}

form div label {
    display: block;
    float: left;
    margin-bottom: 2px;
    padding: 3px 5px;
    text-align: right;
    width: 110px;
}

form div label.CheckboxLabel {
    display: inline;
    text-align: left;
    float: none;
}

form div.Required label,label.Required {
    font-weight: bold;
}

form div.Optional label,label.Optional {
    font-weight: normal;
}

form div input.InputText {
    margin: 0pt;
    padding: 1px 3px;
    width: 200px;
}

form div small {
    display: block;
    margin: 0 0 5px 120px;
    padding: 1px 3px;
    font-size: 85%;
    color: #666;
}

form div.Submit {
    padding-left: 120px;
    border-top: 1px solid #bcbcbc;
    margin-top: 5px;
}

form div.Submit input {
    padding: 0 5px 0 5px;
    margin: 5px 5px;
}

form#form {
    min-width: 550px;
}

form#form label {
    width: 135px;
}

form#form small {
    margin: 0 0 5px 142px;
}

form#form div.Submit {
    padding-left: 142px;
}