<tr m:id="clttItems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td rowspan="2"><a m:id="prospectBtn" class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank">見込化</a><a m:id="trlBtn" class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank">ネタ入力</a><a m:id="hideBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">非表示</a><a m:id="viewBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">再表示</a></td>
	<td rowspan="2" m:id="cltcd">C00546961</td>
	<td class="sampleOverflow" m:id="cltnm">インテ太郎</td>
	<td class="sampleOverflow" m:id="cltstsnm">既存</td>
	<td class="textRight" rowspan="2" m:id="qslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="qmatmount">\3,000,000</td>
	<td class="textRight borderBold_left" rowspan="2" m:id="firstmonthslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="firstmonthmatmount">\3,000,000</td>
	<td class="textRight borderBold_left" rowspan="2" m:id="secondmonthslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="secondmonthmatmount">\3,000,000</td>
	<td class="textRight borderBold_left" rowspan="2" m:id="thirdmonthslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="thirdmonthmatmount">\3,000,000</td>
</tr>
<tr class="listUnderLine">
	<td class="sampleOverflow" m:id="bonm">????</td>
	<td class="sampleOverflow" m:id="cltrank">S+</td>
</tr>