<tr m:id="clttItotaltems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2" class="textCenter bold sampleOverflow">集計情報</td>
	<td class="textRight" rowspan="2" m:id="qslamountsum">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="qmatmountsum">\3,000,000</td>
	<td class="textRight borderBold_left" rowspan="2" m:id="firstmonthslamountsum">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="firstmonthmatmountsum">\3,000,000</td>
	<td class="textRight borderBold_left" rowspan="2" m:id="secondmonthslamountsum">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="secondmonthmatmountsum">\3,000,000</td>
	<td class="textRight borderBold_left" rowspan="2" m:id="thirdmonthslamountsum">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="thirdmonthmatmountsum">\3,000,000</td>
</tr>