@charset "utf-8";

/*-------------------------------------*/
/*　　　　　部品課 　　　　　        */
/*-------------------------------------*/
.td_length {
	width: 5px;
}

.m_topMinus {
	margin-top: -5px;
}

/*-------------------------------------*/
/*　　　　　フォーム 　　　　　        */
/*-------------------------------------*/
input.tableText {
	width: 180px;
}
input.tableText1 {
	width: 256px;
}
input.tableDate {
	width: 87px !important;
}
.select_W {
	width: 190px;
}
.select_Year {
	width: 105px;
}

.selectBox_w {
	width: 184px;
}
.selectBox_w1 {
	width: 90px;
}
/*-------------------------------------*/
/*                Box                  */
/*            1.5 Templete             */
/*-------------------------------------*/
.centerLine {
	width: 100%;
}
.leftBox1 {
	float: left;
	width: 190px;
}

.leftBox2 {
	float: left;
	width: 600px;
}

.leftBox3 {
	float: left;
	width: 230px;
}

.leftBox4 {
	float: left;
	margin-bottom: 10px;
}

.leftBox5 {
	float: left;
	width:360px;
}

.leftBox7 {
	float: left;
	margin-bottom: 10px;
}

.leftStatusBox {
	float: left;
	width: 220px;
	margin-bottom: 10px;
}

.leftClaimBox {
	float: left;
	margin-bottom: 10px;
}
/* 1.4 template */
.leftDivision {
	float: left;
}

.centerDivision {
	float: left;
	width:500px;
}

.secondErea {
	width: 100%;
}

/*-------------------------------------*/
/*　　　　　　　テーブル line color　　*/
/*-------------------------------------*/
.EreaLine1 {
	width: 350px;
	float: left;
	text-align:left;
	heigth:50px;
	margin-left:440px;
}

.EreaLine2 {
	width: 100%;
	float: left;
	text-align:center;
}

.EreaLine3 {
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
/*-------------------------------------*/
/*　　　　　　　テーブル　　 　　　　　*/
/*-------------------------------------*/
table.commonTableBox th {
	width: 100px;
	text-align: left !important;
}
table.commonTableBox td {
	text-align: left;
}
table.cusTable {
	width: 100%;
}
table.chargerTable {
	width: 100%;
}
table.chargerTable td {
	text-align: left !important;
}
table.td_width td {
	width: 270px;
}
table.td_widthClaim td {
	width: 200px;
}
table.th_widthClaim th {
	width: 85px;
}
table.th_widthFlag th {
	width: 85px;
}
.td_widthCust {
	width: 100%;
}
table.td_widthCust th {
	width: 110px !important;
}
table.td_left td {
	text-align: left;
}
table.th_length80x th {
	width: 80px !important;
}
table.th_length200 th {
	width: 200px !important;
}
table.lastTableBox {
	width: 1922px;
}
table.lastTableBox td {
	text-align: center;
}
table.lastTableBox th {
	text-align: center !important;
}
table.td_orange td {
	background-color: #EB5800;
	color: #FFFFFF !important;
}
.colNo {
	width: 20px;
}
.colSelect {
	width: 112px;
}
.colCd {
	width: 90px;
}
.colCusName {
	width: 150px;
}
.colItem {
	width: 393px;
}
.colMonth {
	width: 110px;
}
table.dateadd_table_box {
	width: 400px;
}
td.boder_right_none {
	border: #cccccc 1px solid;
	border-right-style: none !important;
}

td.border-none {
	border-right-style: none !important;
	border-left-style: none !important;
}

td.border_left_none {
	border: #cccccc 1px solid;
	border-left-style: none !important;
}

.cssSelect {
	width: 46px;
	background-color: #F1F1F1;
	border: none;
}

.tabSetting {
	width: 710px;
}

/*.tabContents ul li.ulSecondLine {
	line-height: 15px;
}


.tabContents ul li a {
	width: 95px;
}


.tabContents li {
	border: 1px solid #AAA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
*/

.scrollDiv {
	width: 100%;
}

.scrollGrid {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.scrollTable td {
	text-align: left;
	border: #cccccc 1px solid;
	border-style: solid;
	white-space: nowrap;
}

.scrollTable th {
	text-align: left;
	border-style: solid;
	border: #cccccc 1px solid;
	white-space: nowrap;
}

.m_left215 {
	margin-left: 215px;
}
.divFlagClaim {
	width: 210px;
}
.divFlagCust {
	width: 85px;
}
.tr_height {
	height: 85px !important;"
}
table.sampleTableC105 {
	width: 200px;
	margin-right: 5px;
}
table.alternateRow12 tbody tr:nth-child(2n) {
	border-bottom: 2px solid #CCCCCC !important;
}
/*
.tabContentsArea {
	border-bottom-style: none !important;
}
ul.tabContents li a {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
*/
.m_top2{
	margin-top: 2px;
}
table.inTable {
	width: 300px;
}
.selectBoxOther_w {
	width: 184px;
}
.inputDatecol {
	width: 110px;
}
.divButtonArea {
	margin-bottom: 10px;
	height:35px;
}