@charset "utf-8";
/* =============================================================================
 tablePage.html
 ========================================================================== */
.th_length {
	width: 75px;
}

.td_length {
	width: 5px;
}

input.tableText {
	width: 180px;
}
.selectBox_w {
	width: 100px;
}
input.tableCenterText {
	width: 87px;
}
.centerLine {
	width: 100%;
}
.centerLine2 {
	width: 100%;
}
.leftBox1 {
	float:left;
	width: 300px;
	margin-bottom: 10px;
}

.leftBox2 {
	float: left;
	width: 300px;
	margin-bottom: 10px;
}

.leftBox3 {
	float: left;
	width: 230px;
	margin-bottom: 10px;
}

.leftBox4 {
	float: left;
	width: 300px;
	margin-bottom: 10px;
}

.leftBox5 {
	float: left;
	width: 360px;
	margin-bottom: 10px;
}
.leftStatusBox{
	float:left;
	width: 140px;
	margin-bottom: 10px;
}

.leftClaimBox{
	float:left;
	width: 250px;
	margin-bottom: 10px;
}

.leftFlgBox{
	float: left;
	width: 500px;
	margin-bottom: 10px;
}
/* 1.4 templete */
.leftDivision {
	float: left;
	width: 300px;
}

.centerDivision {
	float: left;
	width: 500px;
}

.harfErea {
	width: 100%;
	height: 105px;
}

.secondErea {
	width: 100%;
}

.EreaLine1 {
	width: 40%;
	float: left;
	margin-bottom: 10px;
}

.EreaLine2 {
	width: 36%;
	float: left;
	text-align:left;
}
.EreaLine3 {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.dashedBorder {
	border: #FFFFFF dashed 1px;
	width: 130px;
	float:left;
}

.select_W {
	width: 190px;
}

/*-------------------------------------*/
/*                Table                */
/*-------------------------------------*/

table.cusTable {
	width: 100%;
}
table.chargerTable {
	width: 100%;
}
table.chargerTable td {
	text-align: left !important;
}
table.commonTableBox th {
	width: 100px;
}

table.commonTableBox td {
	text-align: left;
}
.bigHeaderHeight {
	height: 25px;
}
table.inTable {
	width: 300px;
}

table.dateadd_table_box {
	width: 400px;
}

.inputDatecol {
	width: 110px;
}
td.boder_right_none {
	border: #cccccc 1px solid;
	border-right-style: none !important;
}

td.border-none {
	border-right-style: none !important;
	border-left-style: none !important;
}

td.border_left_none {
	border: #cccccc 1px solid;
	border-left-style: none !important;
}

.tabSetting {
	width: 700px;
}

.scrollDiv {
	width: 100%;
	height: 550px;
}

.scrollGrid {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.tableLeftStatus {
	width: 100%;
}
.tableClaim {
	width: 250px;
}
.tableClaim th{
	width: 210px !important;
}
.divFlag {
	width: 90px;
}
.divButtonArea {
	width:100%;
	margin-bottom: 10px;
	height:65px;
}
table.lastTableBox {
	width: 1188px;
}
table.lastTableBox td {
	text-align: center;
}
.colNo {
	width: 40px;
}
.colSelect {
	width: 60px;
}
.colCd {
	width: 70px;
}
.colName {
	width: 100px;
}
.colRank {
	width: 110px;
}
.colAmount {
	width:80px;
}
.m_topMinus {
	margin-top: -5px;
}
.cssSelect {
	width: 100%;
	background-color: #F1F1F1;
	border: none;
}
.divSummaryArea {
	width: 98.5%;
	height: 75px;
}
.divSummary {
	width:845px;
}
