@charset "utf-8";

table.sampleTable {
	table-layout: auto !important;
}

table.sampleTable th {
	text-align: left !important;
}

/* Width = 50 pixels */
.width50Px {
	width: 50px
}

/*Button width = 150 pixels*/
.button_w150 {
	width: 150px;
	text-align: center;
}

/* Width = 450 pixels */
.width450Px {
	width: 450px !important;
}

/* Width = 80% */
.width80Pc {
	width: 80%
}

/* Width = 250 pixels */
.width250Px {
	width: 250px
}

.p_top3 {
	padding-top: 3px !important;
}

.requiredEntry {
	display: inline !important;
	background-position: right !important;
	padding-right: 25px !important;
}

.fullWidthContent span,.fullWidthContent input {
	width: 99.5% !important
}