@charset "utf-8";
/* =============================================================================
 C217.html
 ========================================================================== */
input.tableText {
	width: 250px;
}

table.sampleTable{
	width: 29%;
}
table.sampleTable th {
	text-align: left !important;
	width: 125px;
}

.requiredEntry {
	display: inline !important;
	background-position: right !important;
	padding-right: 25px !important;
}