ul.tabContents li {
	border: 1px solid #AAA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 5px 2px;
}

ul.tabContents li a {
	background-color: initial;
}

ul.tabContents li a {
	width: 95px;
}

ul.tabContents li a:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: -5px;
}

ul.tabContents li.select_tab a:hover {
	margin-top: initial;
}

.tabContents {
	width: 800px
}