@charset "utf-8";
/* =============================================================================
 K103.html
 ========================================================================== */

.cssSelect {
	float: left;
	width: 100%;
}

table.commonTableBox {
	text-align: center;
	width: 200px;
}
table.commonTableBox th {
	width: 80px;
}
table.commonTableBox td {
	width: 120px;
}