@charset "utf-8";
/*-------------------------------------*/
/*                Box                  */
/*            1.1 Templete             */
/*-------------------------------------*/
table.searchConditionTable {
	width: 450px;
	margin-top: 20px;
}

table.searchConditionTable th {
	width: 100px;
}

.dateLength {
	width: 120px !important;
}

/*-------------------------------------*/
/*                Div                  */
/*-------------------------------------*/
#a01, #a02, #a03, #a04, #a05, #a06 {
	margin-top: 15px;
	margin-bottom: 30px;
}

.widthCheckField {
	width: 100px;
}

.p_left383 {
	padding-left: 383px;
}

input.tableText {
	width: 108px;
}

.radioInTable {
	float: left;
	width: 95px;
}
input.monthLength {
	width:77px;
}
