@charset "utf-8";

/*-------------------------------------*/
/*         Div and Table               */
/*-------------------------------------*/
#a01, #a02 {
	margin-left: 20px;
}
.td_right {
	padding-left: 50px;
}
.td_length_fix {
	width: 100%;
	text-align: right;
}
.table_fix {
	table-layout: fixed;
}
.m_left400 {
	margin-left: 400px;
}
input.file{
	width: 750px;
}
