<tr m:id="clttransmngItems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td class="fontSize_small"><a m:id="transferLnk" href="C301.html">予定編集</a></td>
	<td class="sampleOverflow"><span m:id="transfromempnm">インテ太郎</span></td>
	<td class="sampleOverflow"><span m:id="transtoempnm">インテ次郎</span></td>
	<td><span m:id="cltcd">C00000000</span></td>
	<td class="sampleOverflow"><span m:id="cltnm">西建コーポレーション</span></td>
	<td class="sampleOverflow"><span m:id="cltstsnm">既存</span></td>
	<td><span m:id="transplandt">2014/02/07</span></td>
	<td class="sampleOverflow"><span m:id="cltcgnm">インテ太郎</span></td>
	<td><span m:id="telnum">03-1111-1112</span></td>
	<td class="sampleOverflow"><span m:id="prefnm">東京都</span></td>
	<td class="sampleOverflow"><span m:id="adr01">渋谷３丁目</span></td>
	<td class="fontSize_small sampleOverflow" rowspan="2"><span m:id="midbiznm">不動産・建築</span></td>
	<td class="sampleOverflow fontSize_small" rowspan="2"><span m:id="coment">お知らせお知らせお知らせお知らせ</span></td>
</tr>
<tr m:id="clttransmngItems" xmlns:m="http://mayaa.seasar.org">
	<td class="fontSize_small"><a m:id="compLnk" href="#">完了</a></td>
	<td class="fontSize_small sampleOverflow"><span m:id="transfromsectionnm">事企_事企第2_事開</span></td>
	<td class="fontSize_small sampleOverflow"><span m:id="transtosectionnm">首 首ｴﾘｱ 第3 新・小田・京沿</span></td>
	<td><span m:id="cltid">CC000000</span></td>
	<td class="sampleOverflow"><span m:id="bonm">中央支店</span></td>
	<td><span m:id="cltrank">S+</span></td>
	<td class="sampleOverflow"><span m:id="transmethod">訪問</span></td>
	<td class="sampleOverflow"><span m:id="cltcgdep">人事部</span></td>
	<td class="fontSize_small"><a m:id="cltcgmailLnk" href="mailto:XXXX@inte.co.jp">XXXX@inte.co.jp</a></td>
	<td class="sampleOverflow"><span m:id="ctynm">中央区</span></td>
	<td class="fontSize_small sampleOverflow"><span m:id="adr02">7-3 ああビル</span></td>
</tr>