@charset "utf-8";

/*-------------------------------------*/
/*                Box                  */
/*            1.2 Templete             */
/*-------------------------------------*/
table.searchConditionTable {
	width: 320px;
	margin-bottom: 15px;
}
table.searchConditionTable th{
	text-align: center;
}
.tdItem {
	width: 60px;
}
.tdCheck {
	width: 45px;
}
.tdName {
	width: 170px;
}
.nameRank {
	width: 178px !important;
}
.colorRed {
	background-color: #E26B0A !important;
	color: white;
}