<tr m:id="mactsum" xmlns:m="http://mayaa.seasar.org">
	<th><span m:id="yearQuarter">FY15 Q1</span></th>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg1Itms"> <option m:id="flg1Value" value="CC架電NG"><span m:id="flg1Lbl">CC架電NG</span> </option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example" disabled="disabled">
		<span m:id="flg2Itms"> <option m:id="flg2Value" value="CC架電NG"><span m:id="flg2Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg3Itms"> <option m:id="flg3Value" value="CC架電NG"><span m:id="flg3Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg4Itms"> <option m:id="flg4Value" value="null"><span m:id="flg4Lbl">--</span></option></span>
		<span id="forMokUp"> <option value="CC架電NG">CC架電NG</option> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg5Itms"> <option m:id="flg5Value" value="CC架電NG"><span m:id="flg5Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg6Itms"> <option m:id="flg6Value" value="CC架電NG"><span m:id="flg6Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg7Itms"> <option m:id="flg7Value" value="CC架電NG"><span m:id="flg7Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg8Itms"> <option m:id="flg8Value" value="CC架電NG"><span m:id="flg8Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example">
		<span m:id="flg9Itms"> <option m:id="flg9Value" value="CC架電NG"> <span m:id="flg9Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
	<td>
	<select class="cssSelect" name="example" disabled="disabled">
		<span m:id="flg10Itms"> <option m:id="flg10Value" value="CC架電NG"><span m:id="flg10Lbl">CC架電NG</span></option></span>
		<span id="forMokUp"> <option value="キャンパス">キャンパス</option> <option value="税務署ニーズ">税務署ニーズ</option> </span>
	</select></td>
</tr>