<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       	   http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<import resource="classpath:com/structis/vip/server/spring/persistence-context.xml"/>
	<import resource="classpath:com/structis/vip/server/spring/bean-context.xml"/>
	<import resource="classpath:com/structis/vip/server/spring/dozer-context.xml"/>
	<import resource="classpath:com/structis/vip/server/spring/manager-context.xml"/> 
	<bean id="vip-context" class="org.springframework.context.support.ClassPathXmlApplicationContext">  
         <constructor-arg>  
             <list>
                 <value>classpath:com/structis/vip/server/spring/manager-context.xml</value>
                 <value>classpath:com/structis/vip/server/spring/dozer-context.xml</value>
                 <value>classpath:com/structis/vip/server/spring/persistence-context.xml</value>
                 <value>classpath:com/structis/vip/server/spring/bean-context.xml</value>
                              
             </list>  
         </constructor-arg>  
     </bean> 
	<!-- <bean id="userDao"
		class="com.structis.vip.server.dao.UserDaoimpl"></bean>
	<bean id="domUserDao"
		class="com.structis.vip.server.service.domain.DomUserServiceImpl"></bean> -->
</beans>

