<tr m:id="cltempItems" xmlns:m="http://mayaa.seasar.org">
	<td><label>
		<input type="radio" name="radioBotton" value="" checked="checked" m:id="selectRdb">
	</label></td>
	<td m:id="inteempno">C00546961</td>
	<td class="sampleOverflow" m:id="name">インテ太郎</td>
	<td class="sampleOverflow" m:id="kana">インテタロウ</td>
	<td class="sampleOverflow" m:id="deptsecnm">首_ＭＳＡ_ＨＲ</td>
	<td class="sampleOverflow" m:id="deptsecnm">首_ＭＳＡ_ＨＲ</td>
	<td class="sampleOverflow" m:id="deptsecnm">システムグループ</td>
</tr>