
/* --- NAVIGATION LANGAGE --- */
#nav-lang {
	display: block;float: right;
	}
#nav-lang li {
	display: inline-block;
	border-left: 1px solid #ccc;
	padding: 0px 5px 0px 6px;
	}			
#nav-lang a{
	font-size: 1.1em;
	display: block;	
	}
#nav-lang li:first-child { 
	border: none;
	padding-left: 5px;	 
	}		
#nav-lang .picto {
	background:  url(../img/picto-lang.png) no-repeat;		
	width: 16px; height: 12px;
	}	
#nav-lang .fr 		{ background-position: 0 0;        }	
#nav-lang .fr:hover { background-position: 0 100%;     }
#nav-lang .en 		{ background-position: -20px 0;    }
#nav-lang .en:hover { background-position: -20px 100%; }	
/* ---Onglets --- */
