<tr m:id="tplanmttlItems" xmlns:m="http://mayaa.seasar.org">
	<th rowspan=6 >1月
	<br />
	計画</th>
	<th rowspan=3 class="colorRed listUnderLine" >an</th>
	<th style="width: 115px" class="backColor_Point"><a class='innerGrouping' href="javascript:void(0)" onclick="return toggleRows(this);"><img style="vertical-align: middle;" src="img/minus.png">合計金額</a></th>
	<td class="conditionInputW backColor_Point"> \&nbsp;
	<input m:id="slamountplan" type="text" title="(例)16,000,000">
	</td>
	<td class="backColor_Point"><span m:id="slamountrlt">\8,000,000</span></td>
	<td class="backColor_Point"><span m:id="slamountrate">50.0%</span></td>
	<td class="conditionInputWs backColor_Point borderBold_left">
	<input m:id="slcountplan" type="text" title="(例)198社">
	</td>
	<td class="backColor_Point"><span m:id="slcountrlt">99社</span></td>
	<td class="backColor_Point"><span m:id="slcountrate">50.0%</span></td>
	<td class="conditionInputW backColor_Point borderBold_left"> \&nbsp;
	<input m:id="offeramountplan" type="text" title="(例)16,000,000">
	</td>
	<td class="backColor_Point"><span m:id="offeramountrlt">\8,000,000</span></td>
	<td class="backColor_Point"><span m:id="offeramountrate">50.0%</span></td>
	<td class="conditionInputWs backColor_Point borderBold_left">
	<input m:id="offercountplan" type="text" title="(例)198社">
	</td>
	<td class="backColor_Point"><span m:id="offercountrlt">99社</span></td>
	<td class="backColor_Point"><span m:id="offercountrate">50.0%</span></td>
</tr>