<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:com/structis/vip/server/spring/applicationContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:com/structis/vip/server/log4j.properties</param-value>
	</context-param>

	<filter>
		<filter-name>springRequestFilter</filter-name>
		<filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
	</filter>
	<!-- add melogy -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springRequestFilter</filter-name>
		<url-pattern>/vip/springGwtServices/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	<!-- end melogy -->

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springGwtRemoteServiceServlet</servlet-name>
		<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printDelegationGridServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintDelegationGridServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.UploadDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadSignedDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.UploadSignedDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadDelegationDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.UploadDelegationDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printSignedDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintSignedDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printTemplateDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintTemplateDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printDelegationDocumentServiceServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintDelegationDocumentServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadRapportServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.UploadRapportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadDocumentServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.UploadDocumentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printControlRapportServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintControlRapportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>printDocServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.PrintDocServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>exportCSVServlet</servlet-name>
		<servlet-class>com.structis.vip.server.service.report.ExportCSVServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>springGwtRemoteServiceServlet</servlet-name>
		<url-pattern>/vip/springGwtServices/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printDelegationGridServiceServlet</servlet-name>
		<url-pattern>*.printDelegationGridServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printDocumentServiceServlet</servlet-name>
		<url-pattern>*.printDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadDocumentServiceServlet</servlet-name>
		<url-pattern>*.uploadDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadSignedDocumentServiceServlet</servlet-name>
		<url-pattern>*.uploadSignedDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadDelegationDocumentServiceServlet</servlet-name>
		<url-pattern>*.uploadDelegationDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printSignedDocumentServiceServlet</servlet-name>
		<url-pattern>*.printSignedDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printTemplateDocumentServiceServlet</servlet-name>
		<url-pattern>*.printTemplateDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printDelegationDocumentServiceServlet</servlet-name>
		<url-pattern>*.printDelegationDocumentServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadRapportServlet</servlet-name>
		<url-pattern>*.uploadRapportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadDocumentServlet</servlet-name>
		<url-pattern>*.uploadDocumentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printControlRapportServlet</servlet-name>
		<url-pattern>*.printControlRapportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>printDocServlet</servlet-name>
		<url-pattern>*.printDocServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>exportCSVServlet</servlet-name>
		<url-pattern>*.exportCSVServlet</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>vip.html</welcome-file>
	</welcome-file-list>
</web-app>
