<tr m:id="tcomcompeslttlmonthlyItms" class="borderDouble_bottom" xmlns:m="http://mayaa.seasar.org">
	<th m:id="">4Q合計</th>
	<td m:id="targetamount">¥227,000,000</td>
	<td m:id="slamount">¥148,328,657</td>
	<td m:id="rate">65.3%</td>
	<td m:id="shortamount" class="fontColor_red">¥-78,671,343</td>
	<td m:id="slcount">212社</td>
	<td m:id="slcountexisting">152社</td>
	<td m:id="slcountnewblank">56社 </td>
	<td m:id="sldays" class="borderBold_left">60営業日</td>
	<td m:id="sldt">17日目</td>
	<td m:id="digestion">28.3%</td>
</tr>