<tr m:id="tcomcompeslttldivItms" class="borderDouble_bottom" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="7" class="textCenter backColor_Point">首都圏エリア第1営業部</td>
	<td m:id="" class="textCenter backColor_Point">合計</td>
	<td m:id="targetamount" class="backColor_Point">\227,930,000</td>
	<td m:id="slamount" class="backColor_Point">\60,114,089</td>
	<td m:id="rate" class="backColor_Point">26.4%</td>
	<td m:id="targetamount_1m" class="backColor_Point borderBold_left">\69,000,000</td>
	<td m:id="slamount_1m" class="backColor_Point">\74,876,318</td>
	<td m:id="rate_1m" class="backColor_Point">108.5%</td>
	<td m:id="targetamount_2m" class="backColor_Point borderBold_left">\79,000,000</td>
	<td m:id="slamount_2m" class="backColor_Point">\65,857,101</td>
	<td m:id="rate_2m" class="backColor_Point">83.4%</td>
	<td m:id="targetamount_3m" class="backColor_Point borderBold_left">\79,000,000</td>
	<td m:id="slamount_3m" class="backColor_Point">\7,595,238</td>
	<td m:id="rate_3m" class="backColor_Point">9.6%</td>
</tr>