<tr m:id="clttIems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td rowspan="2"><a m:id="prospectBtn" class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank">見込化</a>
		<a m:id="trlBtn" class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank">ネタ入力</a>
		<a m:id="hideBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">非表示</a>
		<a m:id="viewBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">再表示</a>
</td>
		<td rowspan="2" m:id="cltcd">C00546961</td>
			<td class="sampleOverflow" m:id="cltnm">西建コーポレーション</td>
	<td class="sampleOverflow" m:id="cltstsnm">既存</td>
	<td class="textRight" rowspan="2" m:id="monthslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="monthmatmount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="firstweekslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="firstweekmatmount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="secondweekslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="secondweekmatmount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="thirdweekslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="thirdweekmatmount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="fourthweekslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="fourthweekmatmount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="fifthweekslamount">\3,000,000</td>
	<td class="textRight" rowspan="2" m:id="fifthweekmatmount">\3,000,000</td>
</tr>
<tr>
	<td class="sampleOverflow">????</td>
	<td class="sampleOverflow">S+</td>
</tr>