<tr m:id="cltItems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="3">1</td>
	<td rowspan="3">
		<a m:id="prospectBtn" class="orangeButton button_itemSelect button_w100" href="N101.html" target="_blank">見込化</a>
		<a m:id="trlBtn" class="orangeButton button_itemSelect button_w100" href="N101.html" target="_blank">ネタ入力</a>
		<a m:id="hideBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">非表示</a>
		<a m:id="viewBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">再表示</a>
	</td>
	<td m:id="useselect01">●</td>
	<td m:id="useselect02">●</td>
	<td m:id="useselect03">●</td>
	<td m:id="useselect04">●</td>
	<td m:id="name" class="sampleOverflow">落合修平</td>
	<td m:id="cltcd">C00546961</td>
	<td m:id="cltnm" class="sampleOverflow">西建コーポレーション</td>
	<td m:id="cltcgnm" class="sampleOverflow">インテ太郎</td>
	<td m:id="telnum">03-3668-9152</td>
	<td m:id="compelastpubdt">2013/12/05</td>
	<td m:id="compelastpubframe">1/24P</td>
	<td><a m:id="date" href="#">2013/12/30</a></td>
	<td><a m:id="date" href="#">2014/01/12</a></td>
	<td m:id="prefnm" class="sampleOverflow">東京都</td>
	<td m:id="adr01" class="sampleOverflow">中央区</td>
</tr>
<tr>
	<td m:id="useselect05">●</td>
	<td m:id="useselect06">&nbsp;</td>
	<td m:id="useselect07">&nbsp;</td>
	<td m:id="useselect08">&nbsp;</td>
	<td m:id="deptsecnm" rowspan="2" class="sampleOverflow">首_首エリア_第１_中央</td>
	<td m:id="cltstsnm" class="sampleOverflow">既存</td>
	<td m:id="cltkn" class="sampleOverflow">セイケンコーポレーションセイケンコーポレーションセイケンコーポレーションセイケンコーポレーションセイケンコーポレーション</td>
	<td m:id="cltcgkana" class="sampleOverflow">インテタロウ</td>
	<td m:id="claimstsnm" class="sampleOverflow">通常対応可</td>
	<td m:id="compelastpubproduct" class="sampleOverflow">TOWN WORKTOWN WORKTOWN WORKTOWN WORK</td>
	<td m:id="emptyform" class="sampleOverflow">社員</td>
	<td m:id="actsts" class="sampleOverflow">電話</td>
	<td m:id="actsts" class="sampleOverflow">電話</td>
	<td m:id="ctynm" class="sampleOverflow" rowspan="2">銀座1丁目</td>
	<td m:id="adr02" class="sampleOverflow" rowspan="2">1-1○○ビル2F</td>
</tr>
<tr class="listUnderLine">
	<td m:id="useselect09">●</td>
	<td m:id="useselect10">&nbsp;</td>
	<td m:id="useselect11">&nbsp;</td>
	<td m:id="useselect12">&nbsp;</td>
	<td m:id="cltrank">A</td>
	<td m:id="bonm" class="sampleOverflow">中央支店</td>
	<td m:id="cltcgdep" class="sampleOverflow">人事部</td>
	<td m:id="midbizcd" class="sampleOverflow">小売_一般</td>
	<td m:id="compelastpubamount" class="textRight">¥19,000</td>
	<td m:id="jobcategory" class="sampleOverflow">販売スタッフ</td>
	<td><a m:id="actlistBtn" class="greyButton button_itemSelect" target="_blank" href="Y100_GroNavi_None.html">接触一覧画面へ</a></td>
	<td><a m:id="actIptBtn" class="greyButton button_itemSelect" target="_blank" href="Y101_GroNavi_None.html">接触入力画面へ</a></td>
</tr>