<tr m:id="rltmttlItems" xmlns:m="http://mayaa.seasar.org">
	<th><a id="group001Control" onclick="toggleByGroup(this.id, 'group001');" class="foldControl innerGrouping" href="javascript:void(0)"><span m:id="rltmttlhead">目標金額<span></a></th>
	<td class="borderDouble_right" m:id="rltmttltotalquater">\8,000,000</td>
	<td class="fontSize_small" m:id="rltmttlantotalquater">\4,000,000</td>
	<td class="fontSize_small" m:id="rltmttldodatotalquater">\12,000,000</td>
	<td class="borderBold_left borderDouble_right" m:id="rltmttltotal1m">\2,000,000</td>
	<td class="fontSize_small" m:id="rltmttlantotal1m">\1,000,000</td>
	<td class="fontSize_small" m:id="rltmttldodatotal1m" >\3,000,000</td>
	<td class="borderBold_left borderDouble_right" m:id="rltmttltotal2m">\2,000,000</td>
	<td class="fontSize_small" m:id="rltmttlantotal2m">\1,000,000</td>
	<td class="fontSize_small" m:id="rltmttldodatotal2m">\3,000,000</td>
	<td class="borderBold_left borderDouble_right" m:id="rltmttltotal4m">\2,000,000</td>
	<td class="fontSize_small" m:id="rltmttlantotal4m">\1,000,000</td>
	<td class="fontSize_small" m:id="rltmttldodatotal4m">\3,000,000</td>
	<td class="fontSize_small" m:id="rltmttlsparetotal4m">\3,000,000</td>
</tr>