<tr m:id="mrcd" xmlns:m="http://mayaa.seasar.org">
	<th m:id="mrcdquarter">4Q</th>
	<td m:id="mrcdtargetamount">\600,000,000</td>
	<td m:id="mrcdslamount">\1,000,000</td>
	<td m:id="mrcdachievement">16.7%</td>
	<td m:id="mrcdbalance" class="fontColor_red">\-5,000,000</td>
	<td m:id="mrcdsum">24社</td>
	<td m:id="mrcdexisting">6社</td>
	<td m:id="mrcdnewblank">6社</td>
	<td m:id="mrcdnumbusinessdays" class="borderBold_left">60営業日</td>
	<td m:id="mrcdbusinessdays">17日目</td>
	<td m:id="mrcdefficiency">28.3%</td>
</tr>