<tr m:id="yrcd" xmlns:m="http://mayaa.seasar.org">
    <th>目標金額</th>
    <td m:id="productkbn_month" class="borderDouble_right">\600,000,000</td>
    <td m:id="an_month" class="fontSize_small">\4,500,000</td>
    <td m:id="DODA_month" class="fontSize_small">\1,500,000</td>
    <td m:id="another_month" class="fontSize_small">\0</td>
    <td m:id="productkbn_1week" class="borderBold_left borderDouble_right">\2,000,000</td>
    <td m:id="an_1week" class="fontSize_small">\1,500,000</td>
    <td m:id="DODA_1week" class="fontSize_small">\500,000</td>
    <td m:id="another_1week" class="fontSize_small">\0</td>
    <td m:id="productkbn_2week" class="borderBold_left borderDouble_right">\2,000,000</td>
    <td m:id="an_2week" class="fontSize_small">\1,500,000</td>
    <td m:id="DODA_2week" class="fontSize_small">\500,000</td>
    <td m:id="another_2week" class="fontSize_small">\0</td>
    <td m:id="productkbn_3week" class="borderBold_left borderDouble_right">\2,000,000</td>
    <td m:id="an_3week" class="fontSize_small">\1,500,000</td>
    <td m:id="DODA_3week" class="fontSize_small">\500,000</td>
    <td m:id="another_3week" class="fontSize_small">\0</td>
    <td m:id="productkbn_4week" class="borderBold_left borderDouble_right">\2,000,000</td>
    <td m:id="an_4week" class="fontSize_small">\1,500,000</td>
    <td m:id="DODA_4week" class="fontSize_small">\500,000</td>
    <td m:id="another_4week" class="fontSize_small">\0</td>
</tr>