/* Links - Begin */
a:link {
	color: blue;
	Xbackground-color: lightgray;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

a:active {
	color: aqua;
}
/* Links - End */

/* Input and textarea tags - Begin */
textarea,input[type="text"],input[type="password"] {
	min-width: 220px;
}

input[type="button"],input[type="submit"],input[type="reset"] {
	min-width: 70px
}

select {
	min-width: 120px
}
/* Input and textarea tags - End */

/* Others - Begin */
.hidden {
	display: none;
}

.fullWidth {
	width: 100%
}

.border {
	border: 1px solid black;
}

.success-box,.info-box,.warning-box,.error-box {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.success-box {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/common/success.png');
}

.info-box {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/common/info.png');
}

.warning-box {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/common/warning.png');
}

.error-box {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/common/error.png');
}

.error {
	color: red;
}

.warning {
	color: #9F6000;
}

.info {
	color: #00529B;
}

.success {
	color: #4F8A10;
}

.center {
	text-align: center
}
/* Others - End */

/* For test/debug - Begin */
.blue {
	background-color: blue;
}
/* For test/debug - End */