<tr m:id="mvisitplaceItem" xmlns:m="http://mayaa.seasar.org">
	<td class="textCenter">
		<input m:id="alladdresschkCbx" type="checkbox" name="checkBotton" value="" checked="checked">
	</td>
	<td class="sampleOverflow"><span m:id="location">本社</span></td>
	<td><span m:id="zip">111-0000</span></td>
	<td class="sampleOverflow"><span m:id="pref">東京都</span></td>
	<td class="sampleOverflow"><span m:id="cty">中央区</span></td>
	<td class="sampleOverflow"><span m:id="ad01">日本橋浜町</span></td>
	<td><span m:id="ad02">2-39-2</span></td>
	<td class="fontSize_small"><span m:id="tel">03-3668-9152</span></td>
	<td><span m:id="fax">03-3668-9153</span></td>
	<td class="sampleOverflow"><span m:id="coment">ああああああ</span></td>
</tr>