<tr m:id="mhocgItem" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td rowspan="2" class="textCenter">
		<input m:id="dicision" type="checkbox" name="checkBotton" value="" checked="checked" disabled="disabled">
	</td>
	<td rowspan="2" class="textCenter">
		<input m:id="ordercg" type="checkbox" name="checkBotton" value="" checked="checked" disabled="disabled">
	</td>
	<td rowspan="2" class="textCenter">
		<input m:id="etc" type="checkbox" name="checkBotton" value="" disabled="disabled">
	</td>
	<td class="sampleOverflow"><span m:id="hocgnm">インテ太郎</span></td>
	<td class="sampleOverflow"><span m:id="post">人事部</span></td>
	<td class="fontSize_small"><span m:id="tel">03-3668-9152</span></td>
	<td class="fontSize_small"><span m:id="mail"><a href="mailto:yamada@ginza-akebono.co.jp">yamada@ginza-akebono.co.jp</a></span></td>
	<td class="sampleOverflow"><span m:id="closests">通常対応可</span></td>
	<td rowspan="2" class="sampleOverflow"><span m:id="coment">ああああああ</span></td>
</tr>
<tr class="listUnderLine">
	<td class="sampleOverflow"><span m:id="hocgkana">インテタロウ</span></td>
	<td class="sampleOverflow"><span m:id="position">部長</span></td>
	<td class="fontSize_small"><span m:id="cellphone">080-5585-3161</span></td>
	<td><span m:id="fax">3-3668-9152</span></td>
	<td class="sampleOverflow"><span m:id="closereason">通常対応可</span></td>
</tr>