<tr m:id="tclaimitem" xmlns:m="http://mayaa.seasar.org">
	<td>1</td>
	<td class="fontSize_small"><a m:id="editdelLnk" href="C211.html" onclick="return false;">編集・削除</a></td>
	<td><span m:id="occurdt">2012/02/10</span></td>
	<td class="sampleOverflow"><span m:id="claimstscd">接触禁止</span></td>
	<td class="sampleOverflow"><span m:id="contactformcd">電話</span></td>
	<td class="sampleOverflow"><span m:id="hocgnm">インテ花子</span></td>
	<td class="sampleOverflow"><span m:id="answercgnm">インテ太郎</span></td>
	<td><span m:id="claimcontents"></span></td>
</tr>