<tr m:id="yearResultTbl" xmlns:m="http://mayaa.seasar.org">
	<th>通期</th>
	<td m:id="targetAmount">\6,000,000</td>
	<td m:id="salesAmount">\3,000,000</td>
	<td m:id="salesRate">50.0%</td>
	<td m:id="targetAmountAn" class=" borderBold_left">\6,000,000</td>
	<td m:id="salesAmountAn">\3,000,000</td>
	<td m:id="salesRateAn">50.0%</td>
	<td m:id="targetAmountDoda" class=" borderBold_left">\6,000,000</td>
	<td m:id="salesAmountDoda">\3,000,000</td>
	<td m:id="salesRateDoda">50.0%</td>
	<td m:id="totalTraders" class=" borderBold_left">24社</td>
	<td m:id="newBlank">6社</td>
	<td m:id="exist">12社</td>
</tr>