<tr m:id="hoItems" xmlns:m="http://mayaa.seasar.org">
	<th rowspan="2">1</th>
	<td><a m:id="honm" href="C200.html" target="_blank">セブンイレブンジャパン</a></td>
	<td m:id="hocd"> H00000002 </td>
	<td m:id="repnm" class="sampleOverflow"> インテ　タロウ </td>
	<td m:id="reptel">03-1111-1111</td>
	<td m:id="prefcd" class="sampleOverflow">東京都</td>
	<td m:id="adr01" class="sampleOverflow">上祖師谷</td>
	<td m:id="midbizcd" class="sampleOverflow">小売り</td>
</tr>
<tr m:id="hoItems" xmlns:m="http://mayaa.seasar.org">
	<td m:id="hokn" class="fontColor_red">セブンイレブンジャパン</td>
	<td m:id="hoid"> H000002 </td>
	<td m:id="repkn" class="sampleOverflow"> インテ　タロウ </td>
	<td m:id="apolloid">4273500</td>
	<td m:id="ctycd" class="sampleOverflow">世田谷区</td>
	<td m:id="adr02" class="sampleOverflow">山の手ビル１０１</td>
	<td><a m:id="url" target="_blank" href="http://boss.intra.inte.co.jp/bmn0010.aspx">http://boss.intra.inte.co.jp/bmn0010.aspx</a></td>
</tr>