<tr class="borderDouble_bottom" m:id="tplanmttlItems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="11" class="textCenter backColor_Point"><span m:id="grpno">新宿・西武新宿・中央沿線G</span></td>
	<th class="backColor_Point"><span m:id="empnm">合計</span></th>
	<td class="backColor_Point"><span m:id="targetamount1m">￥1,600,000</span></td>
	<td class="backColor_Point"><span m:id="slamount1m">￥13,000,000</span></td>
	<td class="backColor_Point"><span m:id="rate1m">103.0%</span></td>
	<td class="backColor_Point borderBold_left"><span m:id="targetamount1w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="slamount1w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="rate1w">50.0%</span></td>
	<td class="backColor_Point borderBold_left"><span m:id="targetamount2w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="slamount2w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="rate2w">50.0%</span></td>
	<td class="backColor_Point borderBold_left"><span m:id="targetamount3w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="slamount3w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="rate3w">50.0%</span></td>
	<td class="backColor_Point borderBold_left"><span m:id="targetamount4w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="slamount4w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="rate4w">50.0%</span></td>
	<td class="backColor_Point borderBold_left"><span m:id="targetamount5w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="slamount5w">￥4,000,000</span></td>
	<td class="backColor_Point"><span m:id="rate5w">50.0%</span></td>
</tr>