<tr m:id="cltIems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td rowspan="2">
		<a class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank" m:id="prospectBtn">見込化</a>
		<a class="greyButton button_itemSelect button_w100 m_top5" href="#">非表示</a>
	</td>
	<td rowspan="2"><span m:id="cltcd">C00546961</span></td>
	<td class="sampleOverflow"><span m:id="cltnm">西建コーポレーション</span></td>
	<td class="sampleOverflow"><span m:id="cltstsnm">既存</span></td>
	<td><span m:id="useselect01">●</span></td>
	<td><span m:id="useselect03">●</span></td>
	<td><span m:id="useselect05">●</span></td>
	<td><span m:id="useselect07">●</span></td>
	<td><span m:id="useselect09">●</span></td>
	<td><span m:id="useselect11">●</span></td>
	<td class="sampleOverflow"><span m:id="prefnm">東京都</span></td>
	<td class="sampleOverflow"><span m:id="adr01">渋谷３丁目</span></td>
	<td class="sampleOverflow"><span m:id="cltcgnm">インテ　太郎</span></td>
	<td><span m:id="telnum">03-1111-1112</span></td>
	<td class="fontSize_small sampleOverflow" rowspan="2"><span m:id="midbizcd">不動産・建築</span></td>
	<td><span m:id="cltid">C00546961</span></td>
	<td class="sampleOverflow"><span m:id="claimstsnm">既存</span></td>
	<td class="sampleOverflow"><span m:id="agtnm">西建コーポレーション</span></td>
	<td class="sampleOverflow"><span m:id="agtempnm">インテ太郎</span></td>
</tr>
<tr m:id="cltIems" xmlns:m="http://mayaa.seasar.org">
	<td class="sampleOverflow"><span m:id="bonm">中央支店</span></td>
	<td class="sampleOverflow"><span m:id="cltrank">S+</span></td>
	<td><span m:id="useselect02">●</span></td>
	<td><span m:id="useselect04">●</span></td>
	<td><span m:id="useselect06">●</span></td>
	<td><span m:id="useselect08">●</span></td>
	<td><span m:id="useselect10">●</span></td>
	<td><span m:id="useselect12">●</span></td>
	<td class="sampleOverflow"><span m:id="ctynm">中央区</span></td>
	<td class="fontSize_small sampleOverflow"><span m:id="adr02">7-3 ああビル</span></td>
	<td class="sampleOverflow"><span m:id="empnm">インテ　太郎</span></td>
	<td class="fontSize_small sampleOverflow"><span m:id="grpnm">首 首ｴﾘｱ 第3 新・小田・京沿</span></td>
	<td><span m:id="apolloid">20000012</span></td>
	<td><span m:id="crttimestamp">2014/02/07</span></td>
	<td class="sampleOverflow"><span m:id="agtcd">西建コーポレーション</span></td>
	<td class="sampleOverflow"><span m:id="agtempcd">インテ太郎</span></td>
</tr>