<tr m:id="cltItems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td m:id="cltstscd" rowspan="2" class="width97Px">既存</td>
	<td m:id="cltnm" class="sampleOverflow width178Px">インテリジェンス</td>
	<td m:id="cltkn">C00000001</td>
	<td m:id="cltcgnm" class="sampleOverflow">インテ 太郎</td>
	<td m:id="telnum" class="width157Px">03-3668-9153</td>
	<td m:id="prefnm" class="sampleOverflow">東京都</td>
	<td m:id="adr01" class="sampleOverflow width179Px">日本橋浜町</td>
	<td m:id="cltcgdep" class="sampleOverflow">営業</td>
</tr>
<tr>
	<td m:id="cltnm" class="sampleOverflow width178Px">インテリジェンス</td>
	<td m:id="cltid">C00000001</td>
	<td m:id="cltcgkana" class="sampleOverflow">インテ タロウ</td>
	<td m:id="midbiznm" class="sampleOverflow width157Px">小売_一般</td>
	<td m:id="ctynm" class="sampleOverflow">中央区</td>
	<td m:id="adr02" class="sampleOverflow width179Px">1-3 丸の内ビル</td>
	<td m:id="empnm" class="sampleOverflow">インテ太郎</td>
</tr>