.errorMessage {
	color: red;
	font-style: italic !important;
}

.errorLabel {
	color: AA0000;
	font-weight: bold !important;
}

.tdLabel {
	font-weight: bold !important;
}

table.wwFormTable {
	width: initial !important;
}

label.checkboxLabel {
	font-weight: bold !important;
	display: inline-block !important;
	max-width: 300px !important;
}