<tr m:id="mhostshisItms" xmlns:m="http://mayaa.seasar.org">
	<td m:id="no" class="bigFont listUnderLine" rowspan="2">1</td>
	<td rowspan="2" class="listUnderLine textCenter"><label>
		<input m:id="selCbx"
		type="checkbox" name="checkBotton" value="">
	</label></td>
	<td m:id="cltcd" rowspan="2" class="listUnderLine">C00546961</td>
	<td class="sampleOverflow"><span class="bold"><a m:id="cltnm" href="C200.html"
		target="_blank" onclick="return true;">西建コーポレーション</a></span></td>
	<td m:id="cltstsnm" class="sampleOverflow">既存</td>
	<td m:id="cltid">CC00000000</td>
	<td m:id="claimstsnm" rowspan="2" class="listUnderLine sampleOverflow">通常対応可
	<br />
	（他Ｄｉｖ接触禁止） </td>
	<td m:id="prefnm" class="sampleOverflow">東京都</td>
	<td m:id="adr01" class="sampleOverflow">渋谷３丁目</td>
	<td class="sampleOverflow"><span class="bold"><a m:id="cltcgnm" href="#">インテ 太郎</a></span></td>
	<td m:id="telnum">03-1111-1112</td>
	<td m:id="midbizcd" rowspan="2" class="listUnderLine sampleOverflow">不動産・建築</td>
</tr>
<tr>
	<td m:id="bonm" class="sampleOverflow">中央支店</td>
	<td m:id="cltrank">S+</td>
	<td m:id="apolloid">0000000</td>
	<td m:id="ctynm" class="sampleOverflow">中央区</td>
	<td m:id="adr02" class="sampleOverflow">7-3 ああビル</td>
	<td m:id="empnmLnk" class="sampleOverflow">インテ 太郎</td>
	<td m:id="deptsecno" class="sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
</tr>