<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>クレーム情報登録・変更</title>
		<meta http-equiv="Content-Language" content="ja" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />

		<link href="../css/reset.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/common.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/C211.css" rel="stylesheet" type="text/css" media="all" />
		<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<link href="favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/TextCount/TextCount.js"></script>
		<script type="text/javascript" src="../js/Pagenation/jquery.simplePagination.js"></script>
		<script type="text/javascript" src="../js/Placeholder/Y102.js"></script>
		<!-- 7.1 template -->
		<script type="text/javascript">
			$(function() {
				$(".pageNation").pagination({
					items : 15, //ページングの数
					displayedPages : 3, //表示したいページング要素数
					prevText : '前へ', //前へのリンクテキスト
					nextText : '次へ', //次へのリンクテキスト
					cssStyle : 'IBS-theme' //テーマは他に"light-theme"、"dark-theme"、"compact-theme"があります
				});
			});
		</script>
		<script type="text/javascript">
			function checkAll(checkedStatus, tableId, columnIndex) {
				var checked = checkedStatus;
				$(
						"#" + tableId + " tr td:nth-child(" + columnIndex
								+ ") input[type=checkbox]").prop("checked", checked);
			}
		</script>
		<script type="text/javascript">
			/*function checkFirst(IDKey) {			
				var strKey = "#" + IDKey;
				if(window.location.href.indexOf(strKey) == -1) {	
					//history.pushState('', document.title, window.location.href+'#test');	
					location.href = window.location.href + strKey;							
				}			
			};
			*/
			function fold() {
				var a = document.getElementById('customerList');
				var b = document.getElementById('inner_write');

				if (a.style.visibility == "visible") {
					b.innerHTML = "<img id=''test' src='img/plus.png'>同一法人ＣＤに紐づく顧客一覧";
					a.style.display = "none";
					a.style.visibility = "hidden";
				} else {
					b.innerHTML = "<img id=''test' src='img/minus.png'>同一法人ＣＤに紐づく顧客一覧";
					a.style.display = "block";
					a.style.visibility = "visible";
				}
			}
			window.onload = function() {
				// 読み込み時に非表示にする
				var hash = location.hash;
				if (hash.indexOf('customerList') == -1) {
					fold(["a01"]);
				}
			};
		</script>
		<link type="text/css" rel="stylesheet" href="../js/Pagenation/simplePagination.css"/>
		<script type="text/javascript" src="../js/Grid/jquery.tablefix.js"></script>
		<!-- テーブル列・行固定 -->
		<script type="text/javascript">
			$(function() {
				$('.Col_fix').tablefix({
					width : 1190, //テーブル全体がこの横幅に収まるように設定
					height : 418, //テーブル全体がこの縦の長さに収まるよう設定
					fixRows : 2, //テーブル上部で固定するヘッダの行数を指定
				});
			});
		</script>
		<link rel="stylesheet" href="../css/smoothness/jquery.ui.all.css" />
		<script src="../js/minified/jquery.ui.core.min.js"></script>
		<script src="../js/minified/jquery.ui.datepicker.min.js"></script>
		<script src="../js/minified/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<script type="text/javascript">
			$(function() {

				$(function() {
					$(".date").datepicker();
					$(".date").datepicker("option", "showOn", 'button');
					$(".date").datepicker("option", "buttonImageOnly", true);
					$(".date").datepicker("option", "buttonImage", 'img/ico_datepicker.png');
				});

				$(".date").datepicker({
					beforeShowDay : function(date) {
						//日曜日
						if (date.getDay() == 0) {
							return [true, "ui-datepicker-sunday"];
							//土曜日
						} else if (date.getDay() == 6) {
							return [true, "ui-datepicker-saturday"];
							//平日
						} else {
							return [true];
						}
					}
				});
			});
		</script>
		<!-- ポップアップ_メッセージ -->
		<script type="text/javascript">
			function check_label_on() {
/*				var a = document.getElementById('customerList');
				var b = document.getElementById('inner_write');
				
				var image = "";
				var checked=false;
				var innerId="inner_write";

				if (a.style.visibility == "visible") {
					image = 'img/plus.png';
					a.style.display = "none";
					a.style.visibility = "hidden";
					checked=false;
				} else {
					image = 'img/minus.png';
					a.style.display = "block";
					a.style.visibility = "visible";
					checked=true;
				}
				$('#' + innerId + ' > img').attr('src', image);
				$('#check1').prop("checked", checked);
				*/
				var a = document.getElementById('idCusList');
				var b = document.getElementById('check1');
				var c = document.getElementById('customerList');
				var d = document.getElementById('inner_write');

				if(b.checked) {
					a.style.display = "block";
					a.style.visibility = "visible";
					fold();
				}
				else {
					a.style.display = "none";
					a.style.visibility = "hidden";
					if (c.style.visibility == "visible") {
						d.innerHTML = "<img id=''test' src='img/plus.png'>同一法人ＣＤに紐づく顧客一覧";
						c.style.display = "none";
						c.style.visibility = "hidden";
					}
				}
			};
			
			function fncOK() {
				window.open("C200.html#claimInfo", "_self");
			}
		</script>
	</head>

	<body>
		<div id="wrapper">
			<div id="commonHeaderC">
			</div><!-- Header END -->

			<div id="mainContents" class="clearfix">
				<div id="centerContents">
					<h2 class="headline2">クレーム情報編集</h2>
					<!-- 6.1 template -->
					<h3 class="headlineSample2">クレーム内容</h3>
					<form action="" method="post" name="frm" id="frm_data">
						<div class="centerLine1">
							<div class="leftBox1">
								<table class="commonTableBox">
									<tr>
										<th>クレームID</th>
										<td>00000 </td>
									</tr>
									<tr>
										<th> 発生日 </th>
										<td>
										<input type="text" class="datepickerText date" title="" value="2014/04/01">
										</td>
									</tr>
									<tr>
										<th>クレームステータス</th>
										<td>
										<input type="radio" name="radio_A" id="radio1" checked="checked">
										<label for="radio1" class="va_middle">接触禁止</label>
										<input type="radio" name="radio_A" id="radio2">
										<label for="radio2" class="va_middle">接触禁止（他Divのみ接触可）</label>
										<input type="radio" name="radio_A" id="radio3">
										<label for="radio3" class="va_middle">通常対応可（他Ｄｉｖ接触禁止）</label>
										<input type="radio" name="radio_A" id="radio4">
										<label for="radio4" class="va_middle">通常対応可</label></td>
									</tr>
									<tr>
										<th>コンタクト形態</th>
										<td>
										<input type="radio" name="radio_B" id="radio5" checked="checked">
										<label for="radio5" class="va_middle">訪問</label>
										<input type="radio" name="radio_B" id="radio6">
										<label for="radio6" class="va_middle">来社</label>
										<input type="radio" name="radio_B" id="radio7">
										<label for="radio7" class="va_middle">会食</label>
										<input type="radio" name="radio_B" id="radio8">
										<label for="radio8" class="va_middle">電話</label>
										<input type="radio" name="radio_B" id="radio9">
										<label for="radio9" class="va_middle">その他 </label></td>
									</tr>
									<tr>
										<th>先方担当者</th>
										<td>
										<input type="text" class="tableText" maxlength="1000" title="(例)インテ太郎 ">
										</td>
									</tr>
									<tr>
										<th>対応担当者</th>
										<td>
										<input type="text" class="tableText" maxlength="1000" title="(例)インテ次郎">
										</td>
									</tr>
									<tr>
										<th><span>クレーム内容・対応内容</span>
										<br />
										<span class="supplementMassage">この内容は、一覧に一部表示されます</span>
										<br/>
										<span class="countText"><span class="count1">21</span><span class="supplementMassage">/4000文字</span></span></th>
										<td><textarea id="comment1" maxlength="4000" class="w_textArea" rows="6">&#10;&#13;■クレーム内容&#10;&#13;■対応内容&#10;&#13;■その他</textarea>
										</td>
									</tr>
								</table>
							</div>
							<div class="leftBox2 m_left5">
								<div class="h_frame m_top25"></div>
								<table class="commonTableBox">
									<tr>
										<th class="width1 tableLabel">登録者</th>
										<td class="sampleOverflow">インテ太郎</td>
									</tr>
									<tr>
										<th class="width1 tableLabel"> 登録日 </th>
										<td> 2014/01/05 </td>
									</tr>
								</table>
								<br />
								<table class="commonTableBox">
									<tr>
										<th class="width1 tableLabel">更新者</th>
										<td class="sampleOverflow">インテ太郎</td>
									</tr>
									<tr>
										<th class="width1 tableLabel"> 更新日 </th>
										<td> 2014/01/05 </td>
									</tr>
								</table>
							</div>
						</div>
						<!-- End centerline1 -->
						<div class="float_lr_clear"></div>
						<!-- 2.4 template -->
						<div class="textRight float_left_clear m_top7">

							<div class="float_left centerLine2 m_bottom5">
								<p class="float_left m_top10">
									<input type="checkbox" name="check_A" id="check1" onclick="check_label_on();">
									<label for="check1" class="m_left5 m_right10">同一法人ＣＤに紐づく顧客にもクレーム設定を行う。</label>
								</p>
							</div>

							<!--<div>
							<a class="greyButton button_w100 Delete_dialog_massage float_left" href="C200.html" onclick=" return false;">削除する</a>
							<a class="blueButton button_w100 " href="C200.html">保存する</a>
							<a class="greyButton button_w100" onclick="window.location.href='C200.html';return false;">キャンセル</a>
							</div>-->

						</div>
						<div class="float_left_clear"></div>
						<h3 id="idCusList" class="headlineSample2" style="visibility: hidden;display: none;"><a href="#" id="inner_write" onclick="fold(); return false;"> <img src="img/minus.png">同一法人ＣＤに紐づく顧客一覧 </a></h3>
						<div class="centerLine2" id="customerList" style="visibility:visible;">
							<div class="pagingArea">
								<div class="recordCell">
									<span class="recordCounts">1-20件</span><span class="allRecord">&nbsp;&frasl;&nbsp;全123456789件中</span>
								</div>
								<div class="pageNationCell">
									<div class="pageNation"></div><!--pageNation END-->
								</div>
								<div class="displayRecordCell">
									表示件数
									<select class="displayRecord" name="#">
										<option>20件</option>
										<option>50件</option>
										<option>100件</option>
									</select>
								</div>
							</div><!--pagingArea END-->
							<!--<div class="float_left_clear m_top25 marLeftButtonWidth">
								<a class="greyButton button_w100" href="C200.html#claimInfo" onclick="Delete();checkFirst('customerList');return true;">削除する</a>
								<a class="blueButton button_w100 marLeftButton" href="C200.html#claimInfo" onclick="checkFirst('customerList');return true;">保存する</a>
								<a class="greyButton button_w100" href="C200.html#claimInfo" onclick="checkFirst('customerList');return true;">キャンセル</a>
							</div>-->
							<div class="float_lr_clear "></div>
							<div class="scrollDiv m_top5">
								<table id="table1" class="IntableBox scrollTable Col_fix">
									<tbody>
										<tr>
											<th rowspan="2"> No </th>
											<th rowspan="2">
											<input type="checkbox" id="name0" onclick="checkAll(this.checked, 'table1', 2)">
											</th>
											<th rowspan="2"> 顧客CD </th>
											<th> 顧客名 </th>
											<th> 顧客ステータス </th>
											<th> CRM用顧客 ID</th>
											<th> クレーム </th>
											<th> 都道府県 </th>
											<th> 町名 </th>
											<th> 顧客担当者名 </th>
											<th> TEL </th>
											<th rowspan="2"> 業種（中） </th>
										</tr>
										<tr>
											<th>支店名</th>
											<th>顧客ランク</th>
											<th>APOLLO ID</th>
											<th>クローズ</th>
											<th>市区町村</th>
											<th>番地・ビル</th>
											<th>担当営業</th>
											<th>所属</th>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">1</td>
											<td rowspan="2">
											<input type="checkbox" id="name1">
											</td>
											<td rowspan="2">C00546961</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">既存</td>
											<td>C00546961</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">渋谷３丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1112</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">中央支店</td>
											<td>S+</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-3 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">2</td>
											<td rowspan="2">
											<input type="checkbox" id="name2">
											</td>
											<td rowspan="2">C00546962</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546962</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">3</td>
											<td rowspan="2">
											<input type="checkbox" id="name3">
											</td>
											<td rowspan="2">C00546963</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546963</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">4</td>
											<td rowspan="2">
											<input type="checkbox" id="name4">
											</td>
											<td rowspan="2">C00546964</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546964</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">5</td>
											<td rowspan="2">
											<input type="checkbox" id="name5">
											</td>
											<td rowspan="2">C00546965</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546965</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">6</td>
											<td rowspan="2">
											<input type="checkbox" id="name6">
											</td>
											<td rowspan="2">C00546966</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546966</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">7</td>
											<td rowspan="2">
											<input type="checkbox" id="name7">
											</td>
											<td rowspan="2">C00546967</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546967</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">8</td>
											<td rowspan="2">
											<input type="checkbox" id="name8">
											</td>
											<td rowspan="2">C00546968</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546968</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">9</td>
											<td rowspan="2">
											<input type="checkbox" id="name9">
											</td>
											<td rowspan="2">C00546969</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546969</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">10</td>
											<td rowspan="2">
											<input type="checkbox" id="name10">
											</td>
											<td rowspan="2">C00546970</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546970</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">11</td>
											<td rowspan="2">
											<input type="checkbox" id="name11">
											</td>
											<td rowspan="2">C00546971</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546971</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">12</td>
											<td rowspan="2">
											<input type="checkbox" id="name12">
											</td>
											<td rowspan="2">C00546972</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546972</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">13</td>
											<td rowspan="2">
											<input type="checkbox" id="name13">
											</td>
											<td rowspan="2">C00546973</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546973</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">14</td>
											<td rowspan="2">
											<input type="checkbox" id="name14">
											</td>
											<td rowspan="2">C00546974</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546974</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">15</td>
											<td rowspan="2">
											<input type="checkbox" id="name15">
											</td>
											<td rowspan="2">C00546975</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546975</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">16</td>
											<td rowspan="2">
											<input type="checkbox" id="name16">
											</td>
											<td rowspan="2">C00546976</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546976</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">17</td>
											<td rowspan="2">
											<input type="checkbox" id="name17">
											</td>
											<td rowspan="2">C00546977</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546977</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">18</td>
											<td rowspan="2">
											<input type="checkbox" id="name18">
											</td>
											<td rowspan="2">C00546978</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546978</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">19</td>
											<td rowspan="2">
											<input type="checkbox" id="name19">
											</td>
											<td rowspan="2">C00546979</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546979</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
									<tbody class="listUnderLine">
										<tr>
											<td rowspan="2">20</td>
											<td rowspan="2">
											<input type="checkbox" id="name20">
											</td>
											<td rowspan="2">C00546980</td>
											<td class="sampleOverflow">インテ 太郎</td>
											<td class="sampleOverflow">見込</td>
											<td>C00546980</td>
											<td class="sampleOverflow">接触禁止</td>
											<td class="sampleOverflow">東京都</td>
											<td class="sampleOverflow">青山2丁目</td>
											<td class="sampleOverflow">インテ太郎</td>
											<td>03-1111-1114</td>
											<td class="fontSize_small sampleOverflow" rowspan="2">不動産・建築</td>
										</tr>
										<tr>
											<td class="sampleOverflow">千代田支店</td>
											<td>A</td>
											<td>20000012</td>
											<td class="sampleOverflow">退職</td>
											<td class="sampleOverflow">千代田区</td>
											<td class="fontSize_small sampleOverflow">7-5 ああビル</td>
											<td class="sampleOverflow">インテ花子</td>
											<td class="fontSize_small sampleOverflow">首 首ｴﾘｱ 第3 新・小田・京沿</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>
					<div class="float_left m_top10 marLeftButtonWidth">
						<a class="greyButton button_w100 DeleteInfo_dialog_massage">削除する</a>
						<a class="blueButton button_w100 marLeftButton" href="C200.html#claimInfo">保存する</a>
						<a class="greyButton button_w100" href="C200.html#claimInfo">キャンセル</a>
					</div>
				</div><!--centerLine2-->
			</div><!-- div#centerContents END -->
		</div><!-- div#mainContents END -->
		<div id="footer">
			<p id="copyright"></p>
		</div><!-- div#footer END -->
	</body>
</html>