<!DOCTYPE html>
<html xmlns:m="http://mayaa.seasar.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ログイン</title>
		<meta http-equiv="Content-Language" content="ja" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />

		<link href="../css/reset.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/common.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/L100.css" rel="stylesheet" type="text/css" media="all" />
		<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<link href="favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/Placeholder/Placeholder.js"></script>

	</head>

	<body>
		<div id="wrapper">
			<div id="mainContents" class="clearfix">
				<div id="wrapper_2" class="loginContent m_b10">
					<h1>●●●ログイン</h1>
					<div id="mainContents_2" class="loginContent">
						<div class="textCenter">
							<form name="loginForm">
								<div class="m_top15">
									<span class="loginItem">ID</span>
									<input m:id="loginid" class="loginInput" name="user" type="text" title="ALADDINのユーザーID">
								</div>
								<div class="m_top15">
									<span class="loginItem" title="">パスワード</span>
									<input m:id="loginpw" class="loginInput" name="password" type="password" title="ALADDINのパスワード">
								</div>
								<div class="errorMessage" style="display:none">
									ユーザーID、またはパスワードが間違っています
								</div><!-- エラーメッセージ -->
								<div class="m_top15 m_left15">
									<div class="float_right m_right41">
										<a m:id="login" class="blueButton button_w150" href="T100.html">ログイン</a>
									</div>
								</div>
								<div class="float_lr_clear"></div>

							</form>
						</div><!-- div.sampleBlock END -->
					</div><!-- div#mainContents END -->
				</div><!-- div#wrapper -->
				<div class="float_lr_clear borderTop">
				</div>
				<!-- 1.2 templete -->
				<div class="CenterLine">
					<div class="left">
						<p class="infoTitle">
							▼Documents
						</p>
						<table class="commonTableBox">
							<tr>
								<td>
									<ul class="m_left20 m_top5 m_width">
										<li>
											<p><a m:id="introduction" href="\\ds.inte.co.jp\Div間共有\04メディア\d004-システム\00_PJT\14.032.SFA_CRM\00.共通\02_課題管理\課題詳細\画面データ項目.xlsx">初めに</a></p>
										</li>
										<li>
											<p><a m:id="question">よくある質問</a></p>
										</li>
										<li>
											<p><a m:id="release">リリース予定</a></p>
										</li>
										<li>
											<p><a m:id="obstacle">障害情報</a></p>
										</li>
										<li>
											<p><a m:id="use">使い方(動画①、動画②)</a></p>
										</li>
										<li>
											<p><a m:id="inquiry">お問い合わせはこちらに（メール）</a></p>
										</li>
									</ul>
								</td>
							</tr>
						</table>
					</div>
					<div class="right">
						<p class="infoTitle">
							▼Infomation
						</p>
						<div style="width:517px;height:200px; overflow:auto;">
							<table class="commonTableBox table1">
								<tr>
									<td>
									<ul class="m_left20 m_top5">
										<li class="m_bottom10">
											<span m:id="notice" class="bold">
												2014/01/18 システムメンテナンス終了のお知らせ
											</span>
											<span m:id="errmsg">
												システムメンテナンスは完了しました。ご協力ありがとうございました。
											</span>
										</li>
										<span m:id="forMokUp">
											<li class="m_bottom10">
												<p class="bold">
													2014/01/06 システムメンテナンス終了のお知らせ
												</p>
												<p>
													システムメンテナンスは完了しました。ご協力ありがとうございました。
												</p>
											</li>
											<li class="m_bottom10">
												<p class="bold">
													2013/12/06 システムメンテナンス終了のお知らせ
												</p>
												<p>
													システムメンテナンスは完了しました。ご協力ありがとうございました。
												</p>
											</li>
											<li class="m_bottom10">
												<p class="bold">
													2013/09/30 障害対応のお知らせ
												</p>
												<p>
													障害情報を更新しました。
												</p>
											</li>
											<li class="m_bottom10">
												<p class="bold">
													2013/09/27 障害対応のお知らせ
												</p>
												<p>
													障害情報を更新しました。
												</p>
											</li>
											<li class="m_bottom10">
												<p class="bold">
													2013/09/15 障害対応のお知らせ
												</p>
												<p>
													障害情報を更新しました。
												</p>
											</li>
										</span>
									</ul></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<p id="copyright"></p>
			</div><!-- div#footer END -->
		</div>
	</body>
</html>