<tr m:id="mtrlmttlItems" xmlns:m="http://mayaa.seasar.org">
	<th m:id="mtrlmttlhead" >écã‡äz</th>
	<td m:id="mtrlmttltotalquater" class="borderDouble_right">\600,000,000</td>
	<td m:id="mtrlmttlantotalquater" class="fontSize_small">\4,500,000</td>
	<td m:id="mtrlmttldodatotalquater" class="fontSize_small">\1,500,000</td>
	<td m:id="mtrlmttltotal1m" class="borderBold_left borderDouble_right">\2,000,000</td>
	<td m:id="mtrlmttlantotal1m" class="fontSize_small">\1,500,000</td>
	<td m:id="mtrlmttldodatotal1m" class="fontSize_small">\500,000</td>
	<td m:id="mtrlmttltotal2m" class="borderBold_left borderDouble_right">\2,000,000</td>
	<td m:id="mtrlmttlantotal2m" class="fontSize_small">\1,500,000</td>
	<td m:id="mtrlmttldodatotal2m" class="fontSize_small">\500,000</td>
	<td m:id="mtrlmttltotal4m" class="borderBold_left borderDouble_right">\2,000,000</td>
	<td m:id="mtrlmttlantotal4m" class="fontSize_small">\0</td>
	<td m:id="mtrlmttldodatotal4m" class="fontSize_small">\0</td>
	<td m:id="mtrlmttlsparetotal4m" class="fontSize_small">\0</td>
</tr>