@charset "utf-8";

/*-------------------------------------*/
/*                Box                  */
/*            1.2 Templete             */
/*-------------------------------------*/
.centerLine {
	width: 100%;
	height: 190px;
}
.rightBoxWidth {
	margin-right: 20px;
	width: 462px;
	padding-top:20px;
}
.leftBoxWidth {
	width: 300px;
}

/*-------------------------------------*/
/*                Table                */
/*             3.1 template            */
/*-------------------------------------*/
table.searchConditionTable {
	width: 100%;
}
table.searchConditionTable th {
	width: 95px;
}
table.moneyTable {
	width: 370px;
}
.dateLength {
	width: 97px !important;
}
.moneyLength {
	width: 130px !important;
	text-align: right;
}
.tdDateLength {
	width: 125px;
	text-align: left;
}
.tdDateLengthView {
	width: 82px;
}
.tdWeekLength {
	width: 65px;
}
.tdMoneyLength {
	width: 125px;
	text-align: left;
}
.thCustomer {
	width: 85px;
}
td.noBorder {
	border-right: 0px !important;
	border-left: 0px !important;
	text-align: center !important;
	width: 30px;
}
td.noBorder-right {
	border-right: 0px !important;
	border-right-style: none !important;
}
td.noBorder-left {
	border-left: 0px !important;
	border-left-style: none !important;
}
.salesButtonInfo {
	margin-top: -5px;
}
.thSpace {
	width: 121px;
}

/*-------------------------------------*/
/*                Table                */
/*             3.7 template            */
/*-------------------------------------*/
.checkTableWidth {
	width: 360px !important;
}
table.checkTableWidth th {
	width: 95px;
}
table.checkTableWidth td {
	width: 135px;
}

/*-------------------------------------*/
/*           Div Container             */
/*-------------------------------------*/
.searchArea {
	margin-top: 25px;
	margin-bottom: 20px;
}
.printArea {
	padding-top: 15px;
	padding-bottom: 15px;
}
/*-------------------------------------*/
/*                Table                */
/*             3.5 template            */
/*-------------------------------------*/
table.customerTable {
	width: 440px;
	margin-bottom: 15px;
}
.tdCol_Code {
	width: 70px !important;
}
.tdCol_Div {
	width: 200px;
}
.tdCol_Money {
	width: 65px;
}
.tdCol_Date {
	width: 70px;
}
.tdCol_Month {
	width: 50px;
}
.tdCol_Saler {
	width: 125px;
}
.tdCol_AgentCd {
	width: 70px;
}
.tdCol_AgentSaleCd {
	width: 90px;
}
.fixedTable {
	text-align: center !important;
}
.boldBorder {
	border-bottom: 2px solid #CCCCCC !important;
}
input.monthLength {
	width:77px;
}
select.weekLength {
	width: 64px;
}
.selectBox_w {
	width: 188px;
}