@charset "utf-8";

/*-------------------------------------*/
/*                Box                  */
/*            1.2 Templete             */
/*-------------------------------------*/
.centerLine {
	width: 100%;
	height: 190px;
}
.rightBoxWidth {
	margin-right: 15px;
	width: 640px;
}
.leftBoxWidth {
	width: 220px;
}

/*-------------------------------------*/
/*                Table                */
/*             3.1 template            */
/*-------------------------------------*/
table.commonTableBox {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 15px;
	text-align: center;
}
table.commonTableBox th {
	width: 95px;
}
table.moneyTable {
	width: 350px;
}
.dateLength {
	width: 87px !important;
}
.moneyLength {
	width: 120px !important;
	text-align: right;
}
.tdDateLength {
	width: 125px;
	text-align: left;
}
.tdDateLengthView {
	width: 82px;
}
.tdWeekLength {
	width: 72px;
}
.tdMoneyLength {
	width: 125px;
	text-align: left;
}
.thCustomer {
	width: 85px;
}
.noBorder {
	border-top: 0px !important;
	border-right: 0px !important;
	border-bottom: 0px !important;
	text-align: center;
	width: 30px;
}
.salesButtonInfo {
	margin-top: -5px;
}
.thSpace {
	width: 121px;
}

/*-------------------------------------*/
/*                Table                */
/*             3.7 template            */
/*-------------------------------------*/
.checkTableWidth {
	width: 120px !important;
	margin-top: 15px;
}
table.checkTableWidth th {
	width: 95px;
}
table.checkTableWidth td {
	width: 20px;
}

/*-------------------------------------*/
/*           Div Container             */
/*-------------------------------------*/
.searchArea {
	border: #cccccc 1px solid;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.printArea {
	padding-top: 15px;
	padding-bottom: 15px;
}
/*-------------------------------------*/
/*                Table                */
/*             3.5 template            */
/*-------------------------------------*/
table.customerTable {
	text-align: center;
	width: 440px;
	margin-bottom: 15px;
}
.tdCol_Code {
	width: 70px;
}
.tdCol_Div {
	width: 185px;
}
.tdCol_Money {
	width: 65px;
}
.tdCol_Date {
	width: 70px;
}
.tdCol_Month {
	width: 50px;
}
.tdCol_Saler {
	width: 125px;
}
.tdCol_AgentCd {
	width: 70px;
}
.tdCol_AgentSaleCd {
	width: 90px;
}
.fixedTable {
	text-align: center !important;
}