@charset "utf-8";

th {
	text-align: left;
}

table.textCenter th {
	text-align: center !important;
}

table.customTh1 table.sampleTable th {
	width: 90px;
	text-align: center !important;

}

table.sampleTable td {
	text-align: center !important;
}

table.table02 {
	width: 1188px;
}

.width03 {
	width: 165px;
}

.scrollGrid {
	overflow: auto;
}

.smallWidth {
	width: 30px !important;
}

.tdWidth01 {
	width: 360px !important;
}

.tdWidth02 {
	width: 100px !important;
}

.tdWidth03 {
	width: 150px !important;
}
.flagWidth {
	width: 60px !important;
}
.smallWidth70 {
    width: 70px !important;
}
.largeWidth {
    width: 270px !important;
}