@charset "utf-8";

input.tableText {
	width: 220px;
}

/*-------------------------------------*/
/*                Box                  */
/*            1.5 Template             */
/*-------------------------------------*/

.centerLine1 {
	width: 100%;
}

.leftBox1{
	float:left;
	width: 50%;
}

/*-------------------------------------*/
/*　　　　　　　テーブル　　 　　　　　*/
/*-------------------------------------*/
/*
table.commonTableBox {
	border: #cccccc 1px solid;
	border-collapse: collapse;
	xwidth: 100%;
	table-layout: auto;
	text-align: left;
	vertical-align: middle;
}

table.commonTableBox th {
	border: #cccccc 1px solid;
	background-color: #f1f1f1;
	padding: 3px;
	word-wrap: break-word;
}

table.commonTableBox td {
	border: #cccccc 1px solid;
	background-color: #ffffff;
	padding: 3px;
	word-wrap: break-word;
	text-align: left;
}
*/

table.commonTableBox  td{
	text-align: left;
}

table.commonTableBox  th{
	text-align: center;
}

table.darkGrey th{
	text-align: center !important;
}
.requiredEntry {
	display: inline !important;
	background-position: right !important;
	padding-right: 25px !important;
	margin-left: 0px;
}