@charset "utf-8";
/* =============================================================================
 K105.html
 ========================================================================== */

.sampleTable th {
	width: 20%;
}

.sampleTable textarea {
	width: 705px;
	height: 200px;
}
