@charset "utf-8";
/* =============================================================================
 tablePage.html専用CSS
 ========================================================================== */

/*-------------------------------------*/
/*　　　　　部品 　　　　　            */
/*-------------------------------------*/
.td_length {
	width: 50px;
}

.table_width_wide {
	width: 120%;
}

/*-------------------------------------*/
/*　　　　　フォーム 　　　　　        */
/*-------------------------------------*/
input.buttonPlace {
	margin-left: -5px;
	margin-top: -8px;
}

/*-------------------------------------*/
/*　　　　　　　タグ　　 　　　　　    */
/*-------------------------------------*/
ul {
	list-style: none;
}

li {
	float: left;
}

/*-------------------------------------*/
/*                Box                  */
/*            1.5 Templete             */
/*-------------------------------------*/
.CenterLine {
	width: 100%;
	height: 162px;
}

/* 1.4 templete */
.leftDivision {
	float: left;
	width: 25%;
}

.centerDivision {
	float: left;
	width: 33%;
}

.rightDivision {
	float: right;
	width: 35%;
}

.EreaLine1 {
	width: 65%;
	float: left;
	margin-bottom: 10px;
}

.EreaLine2 {
	width: 286px;
	float: left;
	margin-bottom: 10px;
}

/*-------------------------------------*/
/*                Table (左揃え)       */
/*-------------------------------------*/
table.spanTable {
	border: #cccccc 1px solid;
	border-collapse: collapse;
	font-size: 11px;
	width: 200px;
	table-layout: fixed;
	text-align: left;
	vertical-align: middle;
}

table.spanTable th {
	border: #cccccc 1px solid;
	background-color: #f1f1f1;
	padding: 3px;
	word-wrap: break-word;
	text-align: left;
}

table.spanTable td {
	border: #cccccc 1px solid;
	background-color: #ffffff;
	padding: 3px;
	word-wrap: break-word;
}

table.commonTableBox {
	border: #cccccc 1px solid;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	text-align: left;
	vertical-align: middle;
}

table.commonTableBox th {
	border: #cccccc 1px solid;
	background-color: #f1f1f1;
	padding: 3px;
	word-wrap: break-word;
	text-align: left;
}

table.commonTableBox td {
	border: #cccccc 1px solid;
	background-color: #ffffff;
	padding: 3px;
	word-wrap: break-word;
}

table.WideTableBox {
	border: #cccccc 1px solid;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
}

table.WideTableBox th {
	border: #cccccc 1px solid;
	background-color: #f1f1f1;
	padding: 3px;
	word-wrap: break-word;
}

table.WideTableBox td {
	border: #cccccc 1px solid;
	background-color: #ffffff;
	padding: 3px;
	word-wrap: break-word;
}

table.resultTable {
	border: #cccccc 1px solid;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	text-align: center;
	vertical-align: middle;
}

table.resultTable th {
	border: #cccccc 1px solid;
	background-color: #f1f1f1;
	padding: 3px;
	word-wrap: break-word;
}

table.resultTable td {
	border: #cccccc 1px solid;
	background-color: #ffffff;
	padding: 3px;
	word-wrap: break-word;
}
/*
 * 横スクロールテーブル
 */
.scrollDiv {
	width: 100%;
}

.scrollGrid {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.scrollTable td {
	border: #cccccc 1px solid;
	border-style: solid;
	white-space: nowrap;
}

table#resultTable1 tr td {
	text-align: right !important;
}

table#resultTable2 tr td:nth-child(4) {
	text-align: right;
}

table#resultTable3 td,table#resultTable4 td {
	text-align: right;
}

.scrollTable th {
	border-style: solid;
	border: #cccccc 1px solid;
	white-space: nowrap;
}

.header2 {
	background-color: #FFFF99 !important;
}

table#resultTable3 tbody tr:nth-child(1) td,table#resultTable4 tbody tr:nth-child(1) td
	{
	background-color: #FFFF99 !important;
}

.tabSetting {
	width: 710px !important;
}

.tabContents ul li a {
	width: 95px !important;
}

.tableTitle {
	padding: 0 0 3px 0;
	font-weight: bold;
}