@charset "utf-8";
/* =============================================================================
 tablePage.html専用CSS
 ========================================================================== */

/*-------------------------------------*/
/*　　　　　部品 　　　　　            */
/*-------------------------------------*/
.td_length {
	width: 50px;
}

/*-------------------------------------*/
/*　　　　　フォーム 　　　　　        */
/*-------------------------------------*/
input.tableText {
	width: 95px;
}

.buttonPlace {
	margin-top: -2px;
}
input.corporateText {
	width: 145px;
}

/*-------------------------------------*/
/*　　　　　　　タグ　　 　　　　　    */
/*-------------------------------------*/

ul {
	list-style: none;
}
li {
	float: left;
}

/*-------------------------------------*/
/*                Box                  */
/*            1.5 Templete             */
/*-------------------------------------*/

.CenterLine {
	width: 100%;
	height: 185px;
}

/* 1.4 templete */
.leftDivision {
	float: left;
	width: 25%;
}

.centerDivision {
	float: left;
	width: 33%;
}

.rightDivision {
	float: right;
	width: 35%;
}

.harfErea {
	width: 60;
	float: left;
	height: 120px;
}

/*-------------------------------------*/
/*                Table (左揃え)       */
/*-------------------------------------*/

th.groupWidth{
	width: 800px;
}

table.spanTable {
	width: 200px;
	text-align:center;
}
table.commonTableBox th {
	width: 80px;
}

table.commonTableBox td {
	text-align: center;
}

table.wideTableBox {
	width: 1800px;
}
table.wideTableBox td {
	text-align: right;
}
table.resultTable th {
	width: 100px;
}

table.resultTable td {
	text-align:right;
	width: 100px;
}
.CenterLine {
	width: 100%;
}
.EreaLine1 {
	width: 67%;
	float: left;
	margin-bottom: 10px;
}
.EreaLine2 {
	width: 380px;
	float: left;
	margin-bottom: 10px;
}

.scrollDiv {
	width: 100%;
}

.scrollGrid {
	width: 100%;
	height: 100%;

}
table.commonTableBox.table_width {
	width: 1280px;
}
table.commonTableBox.table_width td {
	text-align: right;
}
.CenterLine {
	width: 800px;
}
.leftDivision {
	width: 35%;
}
.centerDivision {
	width: 25%;
}
.rightDivision {
	width: 35%;
}
.divDisplay {
	width:72%;
	height:20px;
}
.divCustomer {
	width:68%;
	height:20px;
}

.groupCol {
	width: 200px !important;
}
.sumChargeCol {
	width: 120px !important;
}
.otherCol {
	width: 110px !important;
}
.borderBold {
	border-top: 2px solid #CCCCCC !important;
	font-weight: bold;
}
.tabWidth {
	width:550px !important;
}
