@charset "utf-8";
/* =============================================================================
 K111.html
 ========================================================================== */

.cssTable {
	border: 1px;
	border-style: solid;
	border-color: black;
	margin-bottom: 5px;
}
tr.bottom td {
	border-bottom: thin solid black;
}
.cssTable td {
	text-align: center;
	vertical-align: middle;
}
.cssSelect {
	width: 80px;
	margin-left: -3px;
	background-color: #F1F1F1;
	border: none;
}

table.fullWidthContent span, .fullWidthContent input {
	width: 97% !important
}