@charset "utf-8";

/*-------------------------------------*/
/*         Div and Table               */
/*-------------------------------------*/
#a01 {
	margin-bottom: 15px;
	margin-left: 20px;
}
#a02 {
	margin-bottom: 5px;
	margin-left: 20px;
}
.td_right {
	padding-left: 50px;
}
.td_length_fix {
	width: 100%;
	text-align: right;
}
.table_fix {
	table-layout: fixed;
}
