<tr m:id="clttItotaltems" xmlns:m="http://mayaa.seasar.org">
	<td class="textCenter bold sampleOverflow">集計情報</td>
	<td class="textRight" m:id="monthslamountsum">\3,000,000</td>
	<td class="textRight" m:id="monthmatmountsum">\3,000,000</td>
	<td class="textRight borderBold_left" m:id="firstweekslamountsum">\3,000,000</td>
	<td class="textRight" m:id="firstweekmatmountsum">\3,000,000</td>
	<td class="textRight borderBold_left" m:id="secondweekslamountsum">\3,000,000</td>
	<td class="textRight" m:id="secondweekmatmountsum">\3,000,000</td>
	<td class="textRight borderBold_left" m:id="thirdweekslamountsum">\3,000,000</td>
	<td class="textRight" m:id="thirdweekmatmountsum">\0</td>
	<td class="textRight borderBold_left" m:id="fourthweekslamountsum">\0</td>
	<td class="textRight" m:id="fourthweekmatmountsum">\36</td>
	<td class="textRight borderBold_left" m:id="fifthweekslamountsum">\20</td>
	<td class="textRight" m:id="fifthweekmatmountsum">\50</td>
</tr>