<tr m:id="cltIems" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="3">1</td>
	<td rowspan="3">
		<a m:id="prospectBtn" class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank">見込化</a>
		<a m:id="trlBtn" class="orangeButton button_itemSelect button_w100" href="C201.html" target="_blank">ネタ入力</a>
		<a m:id="hideBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">非表示</a></td>
		<a m:id="viewBtn" class="greyButton button_itemSelect button_w100 m_top5" href="#">再表示</a></td>
	<td m:id="mediasts" class="sampleOverflow">キャリア落ちS</td>
	<td m:id="cltcd">C00546961</td>
	<td m:id="cltnm" class="sampleOverflow">西建コーポレーション</td>
	<td m:id="cltcgnm" class="sampleOverflow">インテ太郎</td>
	<td m:id="telnum">03-3668-9152</td>
	<td m:id="useselect01">●</td>
	<td m:id="useselect02">●</td>
	<td m:id="useselect03">●</td>
	<td m:id="useselect04">●</td>
	<td m:id="industry">GE</td>
	<td><a m:id="findate" href="#">2013/12/30</a></td>
	<td><a m:id="nextdate" href="#">2014/1/12</a></td>
	<td m:id="compelastpubdt">2013/12/05</td>
	<td m:id="dodalastpubdt">2013/12/05</td>
	<td rowspan="3" class="textRight"><a m:id="dodayearttl" href="javascript:fncOpen('C214', 'C103')" onclick="fncChangeURLForBack()">¥100,000,000</a></td>
	<td class="textRight"><a m:id="compeyearttl" href="javascript:fncOpen('C214', 'C103')" onclick="fncChangeURLForBack()">\30,000,000</a></td>
	<td m:id="prefnm" class="sampleOverflow">東京都</td>
	<td m:id="ctynm" class="sampleOverflow">中央区</td>
</tr>
<tr m:id="cltIems" xmlns:m="http://mayaa.seasar.org">
	<!--<td><a class="orangeButton button_itemSelect button_w100" href="N101.html">ネタ入力</a></td>-->
	<td m:id="itdsts" class="sampleOverflow">Ｋ</td>
	<td m:id="cltstsnm" class="sampleOverflow">既存</td>
	<td m:id="cltkn" class="sampleOverflow">セイケンコーポレーション</td>
	<td m:id="cltcgkana" class="sampleOverflow">インテタロウ</td>
	<td m:id="claimstsnm" class="sampleOverflow">通常対応可</td>
	<td m:id="useselect05">●</td>
	<td m:id="useselect06">●</td>
	<td m:id="useselect07">●</td>
	<td m:id="useselect08">●</td>
	<td m:id="biztypenm" class="sampleOverflow">金融／保険</td>
	<td m:id="actsts" class="sampleOverflow">電話</td>
	<td m:id="nextactsts" class="sampleOverflow">電話</td>
	<td m:id="dodalastpubframe" class="sampleOverflow">求人原稿B</td>
	<td m:id="compelastpubproduct" class="sampleOverflow">日経キャリア</td>
	<td m:id="competitionmonth" class="textRight">\200,000</td>
	<td m:id="adr01" class="sampleOverflow" rowspan="2">浜町</td>
	<td m:id="adr02" class="sampleOverflow" rowspan="2">1-1○○ビル2F</td>
</tr>
<tr m:id="cltIems" xmlns:m="http://mayaa.seasar.org" class="listUnderLine">
	<!--<!--<td><a class="greyButton button_itemSelect button_w100" href="#">非表示</a></td>-->
	<td m:id="lank">100</td>
	<td m:id="cltrank">A</td>
	<td m:id="bonm" class="sampleOverflow">中央支店</td>
	<td m:id="cltcgdep" class="sampleOverflow">人事部</td>
	<td m:id="midbizcd" class="sampleOverflow">小売一般</td>
	<td m:id="useselect09">●</td>
	<td m:id="useselect10">●</td>
	<td m:id="useselect11">●</td>
	<td m:id="useselect12">●</td>
	<td m:id="biznm" class="sampleOverflow">損害保険</td>
	<td><a m:id="actlistBtn" class="greyButton button_itemSelect" target="_blank" href="Y100_GroNavi_None.html">接触一覧画面へ</a></td>
	<td><a m:id="actIptBtn" class="greyButton button_itemSelect" target="_blank" href="Y101_GroNavi_None.html">接触入力画面へ</a></td>
	<td m:id="dodalastpubamount" class="textRight">\87,500</td>
	<td m:id="compelastpubamount" class="textRight">\19,000</td>
	<td m:id="competitionnextmonth" class="textRight">\1,000,000</td>
</tr>