<tr m:id="getSlTotalAmtListItems" xmlns:m="http://mayaa.seasar.org">
	<td><span m:id="ordcd">520151466</span></td>
	<td class="sampleOverflow"><span m:id="setprodnm">DODAトップテキストバナー</span></td>
	<td class="textRight" rowspan="2"><span m:id="amount">¥50,000</span></td>
	<td><span m:id="orddt">2014/01/21</span></td>
	<td><span m:id="apprm">2014/01</span></td>
	<td rowspan="2"><span m:id="pubstartdt">2014/01/21</span></td>
	<td class="sampleOverflow"><span m:id="name">丸山智世</span></td>
	<td><span m:id="agtcd">A00000075</span></td>
	<td><span m:id="agtempcd">A00000075</span></td>
</tr>
<tr class="boldBorder">
	<td><span m:id="itemcd">152815944</span></td>
	<td><span m:id="prodkbn">DODA</span></td>
	<td><span m:id="apprd">2014/01/22</span></td>
	<td><span m:id="apprw">3W</span></td>
	<td class="sampleOverflow"><span m:id="grpnm">首_首エリア_第1_中央</span></td>
	<td class="sampleOverflow"><span m:id="agtnm">○○○○店</span></td>
	<td class="sampleOverflow"><span m:id="agtempnm">インテ太郎</span></td>
</tr>