/* Links */
a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

a:active {
	color: yellow;
}

input[type="text"], input[type="password"] {
	min-width: 220px
}