<tr m:id="tcomcompeslttlweeklyItms" class="borderDouble_bottom" xmlns:m="http://mayaa.seasar.org">
	<th m:id="">2月合計</th>
	<td m:id="targetamount">¥136,050,000</td>
	<td m:id="slamount">¥117,943,331</td>
	<td m:id="rate">86.7%</td>
	<td m:id="shortamount" class="fontColor_red">¥-18,106,669</td>
	<td m:id="slcount">92社</td>
	<td m:id="slcountexisting">70社</td>
	<td m:id="slcountnewblank">22社</td>
	<td m:id="sldays" class="borderBold_left">19営業日</td>
	<td m:id="sldt">17日目</td>
	<td m:id="digestion">89.5%</td>
</tr>