<tr m:id="tcomcompeslttlnetaItms" class="borderDouble_bottom" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="7" class="textCenter backColor_Point">首都圏エリア第1営業部</td>
	<td m:id="quarter" class="backColor_Point textCenter">合計</td>
	<td m:id="targetamount" class="backColor_Point">¥9,000,000</td>
	<td m:id="slamount" class="backColor_Point">¥65,857,101</td>
	<td m:id="rate" class="backColor_Point">83.4%</td>
	<td m:id="slamountsum" class="backColor_Point borderBold_left">¥6,400,000</td>
	<td m:id="slamountA" class="backColor_Point">¥1,600,000</td>
	<td m:id="slamountB" class="backColor_Point">¥1,600,000</td>
	<td m:id="slamountC" class="backColor_Point">¥1,600,000</td>
	<td m:id="slamountD" class="backColor_Point">¥1,600,000</td>
	<td m:id="slamountNo" class="backColor_Point">¥1,600,000</td>
</tr>