<tr m:id="hocgItems" xmlns:m="http://mayaa.seasar.org">
	<td class="smallCol1">1</td>
	<td class="bold smallFont"><a m:id="closeLnk" href="H302.html#a07Control"  onclick="checkFirst('a07');return true;">変更・クローズ</a></td>
	<td class="bold"><a m:id="hocgnm" href="H301.html#a07Control"  onclick="checkFirst('a07');return true;">インテ　太郎</a></td>
	<td class="smallFont sampleOverflow"><span m:id="hocgkana">インテ　タロウ</span></td>
	<td><span m:id="closests">&nbsp;</span></td>
	<td class="sampleOverflow"><span m:id="post">人事部</span></td>
	<td class="sampleOverflow"><span m:id="position">マネージャー</span></td>
	<td class="smallFont"><span m:id="tel">90-1234-5678</span></td>
	<td class="smallFont"><span m:id="cellphone">03-1111-1112</span></td>
	<td class="smallFont"><a m:id="mail" href="mailto:xxxxxx@inte.co.jp">xxxxxx@inte.co.jp</a></td>
	<td class="sampleOverflow"><span m:id="s_prefnm">東京都</span></td>
	<td class="sampleOverflow"><span m:id="s_ctynm">渋谷区</span></td>
	<td class="sampleOverflow"><span m:id="s_adr01">恵比寿南3丁目</span></td>
</tr>