@charset "UTF-8";
/* CSS Document */
@import url(../fonts/SanFranciscoFont/usesf.css);
body {
	background: #e5e5e5;
	font-family: 'San Francisco Display';
	font-size:14px;
	color: #505050
}
h1, h2, h3, h4 ,h5, h6 {
	font-family: 'San Francisco Display';
	
}
h2 {
    font-size: 27px;
    font-weight: 200;
}
a, a:active, a:focus {
  color: #e32349;
  outline: 0;
}
a:hover {color:#c4c4c4; text-decoration:none}
* {
  -webkit-transition: all 0.4s;
  -moz-transition:    all 0.4s;
  -ms-transition:     all 0.4s;
  -o-transition:      all 0.4s;
}
.pink-default {
		background:#e32349;
		color:#fff;
		border-radius:0
}
	.pink-default i {font-size:20px}
.seeMore {margin-top:25px}
/* HEADER STYLE */
header {padding:10px 0; z-index:9999; width:100%}
	.logo {
		font-size:20px;
		color:#810200
	}
	.navWrapper {background:#fff; position:relative; margin: 15px 0; padding:0;}
		.floatNav {}
		.main_nav a { color:#505050;}
		.main_nav .navbar-nav > li > a {font-size:15px; padding:12px 14px}
			.main_nav .navbar-nav > .dropdown i {padding:2px 10px 2px 8px; border-right:1px solid #ccc}
			.main_nav .navbar-nav > li > a:hover {color:#e32349; background:none; }
			.main_nav .navbar-nav > li > a.active {border-bottom:2px solid #e32349}
			.main_nav .dropdown:hover .dropdown-menu {
				display: block;
				padding:10px
			}
			.main_nav .dropdown .dropdown-menu .list-unstyled:first-child{
				padding-right:5px;
			}
			.main_nav .dropdown .dropdown-menu .list-unstyled:last-child{
				padding-left:5px;
			}
			.main_nav .dropdown-menu > li {min-width:300px; max-width:600px}
			.main_nav .dropdown .dropdown-menu li a {font-size:14px; width:100%; display:block; padding:5px 15px 5px 15px; line-height:20px }
			.main_nav .dropdown .dropdown-menu li a.underline {border-bottom:1px solid #505050 }
				.main_nav .dropdown:hover .dropdown-menu li a:hover {color:#e32349; background:#f2f2f2; text-decoration:none }
.mainWrapper {padding:0}				
.listItem {background:#fff; position:relative; margin:20px 0}
	.listItem .desciptionItem, .listItem .priceNrate {padding:0 10px}
		.imageItem, .itemName, .itemAuthor, .itemDesc, .priceNrate {margin-bottom:10px}
			.desciptionItem {margin-bottom:40px}
			.priceNrate {position:absolute; bottom:0; left:0; width:100%}
			.itemAuthor a{color:#bbb}
			.priceNrate {color:#e32349}
				.priceNrate .rate, .priceNrate .price {width:50% ; float:left}
					.priceNrate .price {text-align:right; }
					
					
footer {padding:20px 0;}
	footer a{color:#8d8d8d; margin:0 5px}
	
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
/*Popover*/
.popover {width:600px; padding:0; border-radius:1px; max-width:600px;}
.modal-open .popover {
    z-index: 2060;
}
.popover-content {padding:0}
.myAccount {width:320px; background:#fff; padding:20px 0 0 0}
		
		.myAccount .avatarWrap, .myAccount .nameWrap {float:left; height:90px; margin: 0 20px}
		.myAccount .avatarWrap {position:relative}
			.myAccount .avatarWrap .changeAvatar{position:absolute; bottom:0; left:0; background:#e32349; opacity:0.8;  text-align:center; ; width:100%}
				.myAccount .avatarWrap .changeAvatar a {color:#fff; font-size:12px}
		.myAccount .nameWrap {margin-left:0; position:relative; margin-bottom:20px}
			.myAccount .nameMail {float:left}
			.myAccount .nameWrap span {clear:both; float:left; line-height:20px}
				.myAccount .nameWrap span.name {font-weight:bold}
				.myAccount .nameWrap span.mail {color:#c4c4c4}
			.myAccount .nameWrap .avaButton {position:absolute; bottom:0; left:0}
		.myAccount .buttonWrap {background:#f5f5f5; padding:15px; width:100%; float:left; }	
			.myAccount .buttonWrap .btnInside {width:50%; float:left; text-align:center}
			.myAccount .buttonWrap .btnInside .btn {background:#f8f8f8; border:1px solid #c4c4c4}
				.myAccount .buttonWrap .btnInside .btn:hover {background:#c4c4c4;}
/*Afix*/
.affix .logoWrap{display:none}
header.affix , header.affix .navWrapper {padding-top:0; margin-top:0}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {.mainWrapper {margin-top:30px}  }


@media (min-width: 768px) and (max-width: 880px) {
	.floatNav {width:20%}
	.mainContent {width:80%}
	.itemWrapper {width:50%}
	  }
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) { .itemWrapper {width:20%} }

/*MOBILE NAV*/
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -70%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -70%;
  }
  .row-offcanvas-right.active {
    right: 70%;
  }
  .row-offcanvas-left.active {
    left: 70%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 70%;
  }
  #sidebar {
    padding:0; background:#fff;
  }
  #sidebar ul.nav{
    margin:0; width:100%
  }
  .navbar-toggle {float:left; margin-left:10px; padding:10px; border: 0; border-radius:0; }
  .logo {margin:10px auto; display:inline-block; text-align:center}
  #sidebar .nav > li > a {font-size:16px; color:#e32349}
  
  #sidebar .nav > li > a > .icon {color:#505050; display:block; width:30px; float:left; margin:0 10px; font-size:20px; text-align:center}
   
  #sidebar a.login {background:#e32349; color:#f4f4f4 !important; padding-left:30px}
  
  #sidebar .nav > li > a.green {
  background: #b3c833;
  color: white;
}

 #sidebar #nav > li > a.green:hover,  #sidebar #nav > li > a.green:active,  #sidebar #nav > li > a.green:focus, {
  background: #b3c833;
  color: white;
}

 #sidebar .nav > li > a.lightGrey {
  background: #c4c4c4;
  color: white;
}

 #sidebar #nav > li > a.lightGrey:hover,  #sidebar #nav > li > a.lightGrey:active,  #sidebar #nav > li > a.lightGrey:focus, {
  background: #c4c4c4;
  color: white;
}
 #sidebar .nav > li > a.red {
  background: #ce5043;
  color: white;
}

 #sidebar #nav > li > a.red:hover,  #sidebar #nav > li > a.red:active,  #sidebar #nav > li > a.red:focus, {
  background: #ce5043;
  color: white;
}
.navbar .navbar-header {position:relative}
}