<tr m:id="tslmtrlItms" xmlns:m="http://mayaa.seasar.org">
	<td rowspan="2">1</td>
	<td rowspan="2" class="textCenter">
	<input m:id="compCbx" id="name" type="checkbox">
	</td>
	<td><span style="font-weight:bold;"><a m:id="slmtrlid" href="N101.html">N140000001</a></span></td>
	<td>
	<select name="example2" style="width:90px;">
		<span m:id="offerstsItms">
			<option m:id="offerstsValue" value="1" selected><span m:id="offerstsPld">受注</span></option>
		</span>
		<span id="forMokUp">
			<option value="2">提案</option>
			<option value="3">失注</option>
		</span>
	</select></td>
	<td class="sampleOverflow"><span title="ヒマワリ酒造"><a m:id="cltnm" href="C200.html" target="C200">ヒマワリ酒造</a></span></td>
	<td m:id="cltcd">C00000001</td>
	<td m:id="offerdate">2014/01/05</td>
	<td m:id="slamount" class="textRight">\200,000</td>
	<td m:id="pubstartdt">2014/01/13</td>
	<td m:id="useselect01">●</td>
	<td m:id="useselect03">●</td>
	<td m:id="useselect05"></td>
	<td m:id="useselect07"></td>
	<td m:id="useselect09">●</td>
	<td m:id="useselect11"></td>
	<td m:id="coment" rowspan="2" class="sampleOverflow">あああああああああああああああああああああああああああああああああああ</td>
	<td m:id="crttimestamp">2014/01/05</td>
	<td m:id="apprcltcgdep" class="sampleOverflow">○○部</td>
	<td m:id="cltcgdep" class="sampleOverflow">○○部</td>
</tr>
<tr m:id="tslmtrlItms" xmlns:m="http://mayaa.seasar.org">
	<td><span class="listTextlink"><a m:id="copyLink" href="N101.html">コピー</a>｜<a m:id="deleteLnk" href="#" onclick="return false;">削除</a></span></td>
	<td>
	<select name="example2" style="width:90px;">
		<span m:id="expectItms">
			<option m:id="expectValue" value="1" selected><span m:id="expectPld">Aヨミ</span></option>
		</span>
		<span id="forMokUp">
			<option value="2">Bヨミ</option>
			<option value="3">Cヨミ</option>
			<option value="4">Dヨミ</option>
			<option value="5">未提案</option>
		</span>
	</select></td>
	<td m:id="bonm" class="sampleOverflow">大手町店</td>
	<td m:id="cltsts" class="sampleOverflow">既存</td>
	<td m:id="closingdt">2014/01/22</td>
	<td m:id="prodnm" class="sampleOverflow">an 基本</td>
	<td m:id="apprw">1月2W</td>
	<td m:id="useselect02"></td>
	<td m:id="useselect04"></td>
	<td m:id="useselect06">●</td>
	<td m:id="useselect08">●</td>
	<td m:id="useselect10">●</td>
	<td m:id="useselect12">●</td>
	<td m:id="updttimestamp">2014/01/05</td>
	<td m:id="appr" class="sampleOverflow">ヒマワリ 花子</td>
	<td m:id="cgempnm" class="sampleOverflow">インテ 太郎</td>
</tr>