<tr class="borderDouble_bottom" m:id="resultTbl" xmlns:m="http://mayaa.seasar.org">
	<td m:id="totalUnit" style="width: 200px" class="backColor_Point textCenter bold" rowspan="25">新宿・西武新宿・中央沿線G</td>
	<td m:id="shortAmount" class="backColor_Point textCenter bold" colspan="1">合計</td>
	<td m:id="targetAmountQ" class="backColor_Point">￥1,200,000</td>
	<td m:id="salesAmountQ" class="backColor_Point">￥300,000</td>
	<td m:id="resultRateQ" class="backColor_Point">25.0%</td>
	<td m:id="targetAmount1m" class="backColor_Point borderBold_left">￥400,000</td>
	<td m:id="salesAmount1m" class="backColor_Point">￥400,000</td>
	<td m:id="resultRate1m" class="backColor_Point">100.0%</td>
	<td m:id="targetAmount2m" class="backColor_Point borderBold_left">￥400,000</td>
	<td m:id="salesAmount2m" class="backColor_Point">￥400,000</td>
	<td m:id="resultRate2m" class="backColor_Point">100.0%</td>
	<td m:id="targetAmount3m" class="backColor_Point borderBold_left">￥400,000</td>
	<td m:id="salesAmount3m" class="backColor_Point">￥400,000</td>
	<td m:id="resultRate3m" class="backColor_Point">100.0%</td>
</tr>