<tr class="listUnderLine" m:id="mcltxhocgItms" xmlns:m="http://mayaa.seasar.org">
	<td>1</td>
	<td ><label>
		<input m:id="selectCbx" type="radio" name="checkBotton" value="" checked>
	</label></td>
	<td><span m:id="t_hocd">H00000001</span></td>
	<td class="sampleOverflow"><span class="bold"><a m:id="t_honmLnk" href="H200.html#a02" target="_blank" onclick="return true;">セブンイレブンジャパン</a></span></td>
	<td class="fontSize_small sampleOverflow"><span m:id="t_hokn">セブンイレブンジャパン</span></td>
	<td ><span m:id="t_hoid">HC000001</span></td>
	<td class="sampleOverflow"><span m:id="t_apolloid">2000012</span></td>
	<td><span m:id="mhostshiscd">&nbsp;</span></td>
	<td ><span m:id="reptel">03-1111-1111</span></td>
	<td class="sampleOverflow"><span m:id="t_prefnm">東京都</span></td>
	<td class="sampleOverflow"><span m:id="t_ctynm">渋谷区</span></td>
	<td class="sampleOverflow"><a m:id="t_repnm" href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
</tr>