<!DOCTYPE html>
<html xmlns:m="http://mayaa.seasar.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>法人紐付　変更</title>
		<meta http-equiv="Content-Language" content="ja" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />

		<link href="../css/reset.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/common.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../css/H205.css" rel="stylesheet" type="text/css" media="all" />
		<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<link href="favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
		<link type="text/css" rel="stylesheet" href="../js/Pagenation/simplePagination.css"/>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/Pagenation/jquery.simplePagination.js"></script>
		<script type="text/javascript" src="../js/Placeholder/Y102.js"></script>
		<!-- 折り畳みJS-->
		<script type="text/javascript" src="../js/Grid/jquery.tablefix.js"></script>
		<script type="text/javascript">
			$(function() {
				$(".pageNation").pagination({
					items : 15, //ページングの数
					displayedPages : 3, //表示したいページング要素数
					prevText : '前へ', //前へのリンクテキスト
					nextText : '次へ', //次へのリンクテキスト
					cssStyle : 'IBS-theme' //テーマは他に"light-theme"、"dark-theme"、"compact-theme"があります
				});
			});
		</script>
		<script type="text/javascript" src="../js/Grid/jquery.tablefix.js"></script>
		<!-- テーブル列・行固定 -->
		<script type="text/javascript">
			$(function() {
				$('.Col_fix').tablefix({
					width : 1188, //テーブル全体がこの横幅に収まるように設定
					height : 550, //テーブル全体がこの縦の長さに収まるよう設定
					fixRows : 1, //テーブル上部で固定するヘッダの行数を指定
				});
			});
		</script>
	</head>

	<body>
		<div id="wrapper">
			<div id="commonHeaderH">
				&nbsp;
			</div><!-- div#commonHeader END -->
			<div id="mainContents" class="clearfix">
				<div id="centerContents">
					<h2 class="headline2">法人紐付　変更申請画面</h2>
					<div class="m_top30 divContainer">
						<!-- 1.5 templete -->
						<div class="float_left">
							<p class="tableTitle">
								紐づける顧客
							</p>
						</div>
						<div class="float_right fontColor_red">
							※申請対象の顧客を確認してください。
						</div>
					</div>
					<form action="" method="post" id="searchData" name="frm">
						<div class="divContainer">
							<table class="searchConditionTable H205Table darkGrey">
								<tr>
									<th>法人CD</th>
									<td><span m:id="hocd">H000001</span></td>
								</tr>
								<tr>
									<th>CRM用法人 ID</th>
									<td><span m:id="hoid">C00000001</span></td>
								</tr>
								<tr>
									<th rowspan="2">法人名</th>
									<td><span m:id="honm">前株</span></td>
								</tr>
								<tr>
									<td><span m:id="repkn">セブン-イレブンジャパン</span></td>
								</tr>
								<tr>
									<th>代表TEL</th>
									<td><span m:id="reptel">03-3668-9153</span></td>
								</tr>
								<tr>
									<th>顧客CD</th>
									<td><span m:id="cltcd">C00000001</span></td>
								</tr>
								<tr>
									<th>顧客名</th>
									<td><span m:id="cltnm">セブンイレブン渋谷3丁目店</span></td>
								</tr>
								<tr>
									<th>TEL</th>
									<td><span m:id="telnum">03-1111-1113</span></td>
								</tr>
								<tr>
									<th>担当営業</th>
									<td><span m:id="cltcgnm">インテ　太郎</span></td>
								</tr>
							</table>
						</div>
						<div class="float_right m_top10">
							<a class="greyButton button_w100 " href="H200.html#a02">キャンセル</a>
						</div>
						<div class="textRight m_bottom25">
							&nbsp;
						</div>
						<div class="leftBox2 m_right5">
							<!-- 6.1 templete -->
							<h3 class="headlineSample2">紐づける　法人検索</h3>
							<p class="tableTitle">
								法人情報検索
							</p>
							<div class="divSearchContainer">
								<div class="float_left">
									<!-- 3.1 template -->
									<table class="searchConditionTable">
										<tr>
											<th class="border_on">法人CD</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_hocd" type="text" class="tableText" title="" maxlength="9">
											</td>
										<tr>
											<th class="border_on">CRM用法人 ID</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_hoid" type="text" class="tableText" title="" maxlength="10">
											</td>
										</tr>
										<tr>
											<th class="border_on">APOLLO ID</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_apolloid" type="text" class="tableText" title="" maxlength="8">
											</td>
										</tr>
										<tr>
											<th class="border_on">法人名</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_honm" type="text" class="tableText" title="" maxlength="50">
											</td>
										</tr>
										<tr>
											<th class="border_on">法人名カナ</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_hokn" type="text" class="tableText" title="" maxlength="50">
											</td>
										</tr>
									</table>
								</div>
								<div class="m_left20 float_left">
									<!-- 3.1 template -->
									<table class="searchConditionTable">
										<tr>
											<th class="border_on">都道府県</th>
											<td class="textLeft conditionInputW">
											<select name="example">
												<span m:id="s_prefnmItms">
													<option m:id="s_prefnmValue" value="-1"><span m:id="s_prefnmLbl">都道府県選択</span></option>
												</span>
												<span m:id="forMokUp">
													<option value="0">北海道</option>
													<option value="1">青森県</option>
													<option value="2">秋田県</option>
													<option value="3">岩手県</option>
													<option value="4">山形県</option>
													<option value="5">宮城県</option>
													<option value="6">福島県</option>
													<option value="7">茨城県</option>
													<option value="8">栃木県</option>
													<option value="9">群馬県</option>
													<option value="10">埼玉県</option>
													<option value="11">神奈川県</option>
													<option value="12">千葉県</option>
													<option value="13">東京都</option>
													<option value="14">山梨県</option>
													<option value="15">長野県</option>
													<option value="16">新潟県</option>
													<option value="17">富山県</option>
													<option value="18">石川県</option>
													<option value="19">福井県</option>
													<option value="20">岐阜県</option>
													<option value="21">静岡県</option>
													<option value="22">愛知県</option>
													<option value="23">三重県</option>
													<option value="24">滋賀県</option>
													<option value="25">京都府</option>
													<option value="26">大阪府</option>
													<option value="27">兵庫県</option>
													<option value="28">奈良県</option>
													<option value="29">和歌山県</option>
													<option value="30">鳥取県</option>
													<option value="31">島根県</option>
													<option value="32">岡山県</option>
													<option value="33">広島県</option>
													<option value="34">山口県</option>
													<option value="35">徳島県</option>
													<option value="36">香川県</option>
													<option value="37">愛媛県</option>
													<option value="38">高知県</option>
													<option value="39">福岡県</option>
													<option value="40">佐賀県</option>
													<option value="41">長崎県</option>
													<option value="42">熊本県</option>
													<option value="43">大分県</option>
													<option value="44">宮崎県</option>
													<option value="45">鹿児島県</option>
													<option value="46">沖縄県</option>
												</span>
											</select></td>
										<tr>
											<th class="border_on">市区町村</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_ctynm" type="text" class="tableText" title="" maxlength="50">
											</td>
										</tr>
										<tr>
											<th class="border_on">代表TEL</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_reptel" type="text" class="tableText" title="" maxlength="15">
											</td>
										</tr>
										<tr>
											<th class="border_on">代表者名</th>
											<td class="textLeft conditionInputW">
											<input m:id="s_repnm" type="text" class="tableText" title="" maxlength="50">
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<!-- 左寄せのtable -->
						<!-- 検索方法  -->
						<div class="float_left_clear"></div>
						<div class="textCenter m_top10">
							<input m:id="perfectRdb" type="radio" name="radio_B" id="radio1" >
							<label m:id="perfect" for="radio1" class="m_right20">完全一致</label>
							<input m:id="pieceRdb" type="radio" name="radio_B" id="radio2"  checked="checked">
							<label m:id="piece" for="radio2" class="m_right20">部分一致</label>
							<input m:id="closehoudispCbx" type="checkbox" name="checkbox_A" id="checkbox1">
							<label m:id="closehoudisp" for="checkbox1" class="m_left5 m_right10">クローズステータスされている法人も表示</label>
						</div>
						<div class="textCenter m_top15">
							<a m:id="selectBtn" class="blueButton button_w100" href="#" onclick="return false;">検索</a>
							<a m:id="clearBtn" class="greyButton button_w100" href="#" onclick="document.frm.reset(); return false;">検索条件クリア</a>
							<a m:id="cancelBtn" class="greyButton button_w100 " href="H200.html#a02">キャンセル</a>
						</div>
					</form>
					<div class="float_left_clear">
						&nbsp;
					</div>
					<!-- 6.1 templete -->
					<h3 class="headlineSample2">検索結果</h3>
					<!-- 7.1 template -->
					<div class="pagingArea">
						<div class="recordCell">
							<span m:id="showcnt" class="recordCounts">1-20件</span><span m:id="searchrescnt" class="allRecord">&nbsp; 全123456789件中</span>
						</div>
						<div class="pageNationCell">
							<div class="pageNation">
								&nbsp;
							</div><!--pageNation END-->
						</div>
						<div class="displayRecordCell">
							表示件数
							<select class="displayRecord" name="#">
								<option><span m:id="tabtotal20Pld">20件</span></option>
								<option><span m:id="tabtotal50Pld">50件</span></option>
								<option><span m:id="tabtotal100Pld">100件</span></option>
							</select>
						</div>
					</div>
					<div class="textRight float_left_clear m_bottom15">
						<a m:id="registBtn" class="blueButton button_w100" href="H200.html#a02" onclick="return true;">登録する</a>
						<a m:id="cancelBtn" class="greyButton button_w100 " href="H200.html#a02" onclick="return true;">キャンセル</a>
					</div>
					<!-- table ここから -->

					<div class="scrollGrid m_bottom15">
						<table class="searchResultTable lastTableBox Col_fix">
							<thead>
								<tr>
									<th class="colNum">No</th>
									<th class="colSel">選択</th>
									<th class="colCd">法人CD</th>
									<th class="colName">法人名</th>
									<th class="colName">法人名カナ</th>
									<th class="colCd">CRM用法人 ID</th>
									<th class="colCd">APOLLO ID</th>
									<th class="colClose">クローズ</th>
									<th class="colTel">TEL</th>
									<th class="colAddress">都道府県</th>
									<th class="colAddress">市区町村</th>
									<th class="colCusName">代表者名</th>
								</tr>
							</thead>
							<tbody id="mcltxhocgTbody">
								<span m:id="forMokUp">
									<tr class="listUnderLine">
										<td>1</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="" checked>
										</label></td>
										<td>H00000001</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">セブンイレブンジャパン</a></span></td>
										<td class="fontSize_small sampleOverflow">セブンイレブンジャパン</td>
										<td >HC000001</td>
										<td class="sampleOverflow">2000012</td>
										<td>&nbsp;</td>
										<td >03-1111-1111</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>2</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000002</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ＷＨＯＬＥ　ＮＯＴＥ</a></span></td>
										<td class="fontSize_small sampleOverflow">ホール　ノート</td>
										<td >HC000002</td>
										<td >2000012</td>
										<td>&nbsp;</td>
										<td >03-1111-1112</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>3</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000003</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ヒロフーズ</a></span></td>
										<td class="fontSize_small sampleOverflow">ヒロフーズ</td>
										<td >HC000003</td>
										<td >2000018</td>
										<td>●</td>
										<td >03-1111-1113</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>4</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000004</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ライジング</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>5</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000005</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ライジング</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td>●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>6</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000006</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">マクドナルド</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>7</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000007</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ノースサイバー</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>8</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td>H00000008</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">東和電材</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>9</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000009</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">日本マクドナルド</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>10</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000010</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">キリンビールマーケティング</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>11</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000011</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">オーケー</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>12</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000012</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ドリーマーズ</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>13</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000013</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">カクヤス</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>14</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000014</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">サポート・エー</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>15</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000015</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ピーターパンコモコ</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>16</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000016</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">東急ビルメンテナンス</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>17</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000017</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">グッドクロス</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>18</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000018</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">富国生命保険</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>19</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000019</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">ジンコーポレーション</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>20</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000020</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">インターワークス</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr>
									<tr class="listUnderLine">
										<td>21</td>
										<td ><label>
											<input type="radio" name="checkBotton" value="">
										</label></td>
										<td >H00000020</td>
										<td class="sampleOverflow"><span class="bold"><a href="H200.html#a02" target="_blank" onclick="return true;">インターワークス</a></span></td>
										<td class="fontSize_small sampleOverflow">ダミーカナ</td>
										<td >HC000004</td>
										<td >2000024</td>
										<td >●</td>
										<td >03-1111-1114</td>
										<td class="sampleOverflow">東京都</td>
										<td class="sampleOverflow">渋谷区</td>
										<td class="sampleOverflow"><a href="mailto:yamada@ginza-akebono.co.jp">インテ　太郎</a></td>
									</tr> </span>
							</tbody>
						</table>
					</div>
					<!-- 2.4 template -->
					<div class="textRight">
						<!--遷移元により遷移先が変わる 法人詳細画面へ遷移or顧客詳細画面へ遷移 -->
						<a m:id="registBtn" class="blueButton button_w100 RegisInfo_dialog_massage" href="H200.html#a02">登録する</a>
						<a m:id="cancelBtn" class="greyButton button_w100" href="H200.html#a02">キャンセル</a>
					</div>
				</div><!-- div#centerContents END -->
			</div><!-- div#mainContents END -->
			<div id="footer">
				<p id="copyright">
					&nbsp;
				</p>
			</div><!-- div#footer END -->
		</div><!-- div#wrapper -->
	</body>
</html>