<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<configuration>
		<stop-on-errors>true</stop-on-errors>
		<date-format>MM/dd/yyyy HH:mm</date-format>
		<wildcard>true</wildcard>
	</configuration>

	<!-- Mapping Bean - Domain -->
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefTypeMchAv</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Type</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Status</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
		<field>
			<a>infolibelle</a>
			<b>value</b>
		</field>
		<field>
			<a>label</a>
			<b>LABEL</b>
		</field>
	</mapping>	
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefDdeAgrement</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefDecenale</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefTransfertPP</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefModePaiement</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefDgdPresente</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>	
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Lot</class-a>
		<class-b>com.structis.fichesst.shared.dto.LotDto</class-b>
	</mapping>	
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.LotType</class-a>
		<class-b>com.structis.fichesst.shared.dto.LotTypeDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.FicheSt</class-a>
		<class-b>com.structis.fichesst.shared.dto.FicheStDto</class-b>	
		<field>
			<a>paymentMode</a>
			<b>paymentMode</b>
			<a-hint>com.structis.fichesst.server.bean.domain.RefModePaiement</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.SimpleDto</b-hint>
		</field>	
		<field>
			<a>lot</a>
			<b>lot</b>
			<a-hint>com.structis.fichesst.server.bean.domain.Lot</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.LotDto</b-hint>
		</field>	
		<field>
			<a>lotType</a>
			<b>lotType</b>
			<a-hint>com.structis.fichesst.server.bean.domain.LotType</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.LotTypeDto</b-hint>
		</field>
		<field>
			<a>refDecenale</a>
			<b>refDecenale</b>
			<a-hint>com.structis.fichesst.server.bean.domain.RefDecenale</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.SimpleDto</b-hint>
		</field>	
		<field>
			<a>refDdeAgrement</a>
			<b>refDdeAgrement</b>
			<a-hint>com.structis.fichesst.server.bean.domain.RefDdeAgrement</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.SimpleDto</b-hint>
		</field>	
		<field>
			<a>refDgdPresente</a>
			<b>refDgdPresente</b>
			<a-hint>com.structis.fichesst.server.bean.domain.RefDgdPresente</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.SimpleDto</b-hint>
		</field>	
		<field>
			<a>conductor</a>
			<b>conductor</b>
			<a-hint>com.structis.fichesst.server.bean.domain.Conductor</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.ConductorDto</b-hint>
		</field>
		<field>
			<a>cautionFournies</a>
			<b>cautionFournies</b>
			<a-hint>com.structis.fichesst.server.bean.domain.CautionFournie</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.CautionFournieDto</b-hint>
		</field>
		<field>
			<a>gestions</a>
			<b>gestions</b>
			<a-hint>com.structis.fichesst.server.bean.domain.Gestion</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.GestionDto</b-hint>
		</field>
		<field>
			<a>deductions</a>
			<b>deductions</b>
			<a-hint>com.structis.fichesst.server.bean.domain.Deduction</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.DeductionDto</b-hint>
		</field>
		<field>
			<a>penalties</a>
			<b>penalties</b>
			<a-hint>com.structis.fichesst.server.bean.domain.Penalty</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.PenaltyDto</b-hint>
		</field>
		<field>
			<a>progresses</a>
			<b>progresses</b>
			<a-hint>com.structis.fichesst.server.bean.domain.Progress</a-hint>
			<b-hint>com.structis.fichesst.shared.dto.ProgressDto</b-hint>
		</field>
<!-- 		<field> -->
<!-- 			<a>societe</a> -->
<!-- 			<b>societe</b> -->
<!-- 			<a-hint>com.structis.fichesst.server.bean.domain.Societe</a-hint> -->
<!-- 			<b-hint>com.structis.fichesst.shared.dto.SocieteDto</b-hint> -->
<!-- 		</field> -->
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.LigTransfertPP</class-a>
		<class-b>com.structis.fichesst.shared.dto.LigTransfertppModel</class-b>
			<field>
				<a>refTypeBudjConf</a>
				<b>refTypeBudjConf</b>
				<a-hint>com.structis.fichesst.server.bean.domain.RefTypeBudjConf</a-hint>
				<b-hint>com.structis.fichesst.shared.dto.SimpleDto</b-hint>
			</field>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.UtilisateurGrp</class-a>
		<class-b>com.structis.fichesst.shared.dto.UtilisateurGrpModel</class-b>
	</mapping>	
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Chantier</class-a>
		<class-b>com.structis.fichesst.shared.dto.ChantierModel</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Conductor</class-a>
		<class-b>com.structis.fichesst.shared.dto.ConductorDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Penalty</class-a>
		<class-b>com.structis.fichesst.shared.dto.PenaltyDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Deduction</class-a>
		<class-b>com.structis.fichesst.shared.dto.DeductionDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Progress</class-a>
		<class-b>com.structis.fichesst.shared.dto.ProgressDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.RefTypeBudjConf</class-a>
		<class-b>com.structis.fichesst.shared.dto.SimpleDto</class-b>
	</mapping>
 	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Role</class-a>
		<class-b>com.structis.fichesst.shared.dto.RoleModel</class-b>
		<field>
			<a>chantier.id</a>
			<b>idChantier</b>
		</field>
		<field>
			<a>utilisateurGrp.id</a>
			<b>idUtilisateurGrp</b>
		</field>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.Societe</class-a>
		<class-b>com.structis.fichesst.shared.dto.SocieteDto</class-b>
	</mapping>
	<mapping>
		<class-a>com.structis.fichesst.server.bean.domain.FicheTransfertpp</class-a>
		<class-b>com.structis.fichesst.shared.dto.FicheTransfertppDto</class-b>
		<field-exclude> 
			<a>id</a> 
		  	<b>id</b> 
		</field-exclude>		
		<field>
		    <a>refTransfertPp.id</a>
		    <b>refTransfertPp.id</b>
		</field>
		<field>
		    <a>chantier.id</a>
		    <b>chantier.id</b>
		</field>
	</mapping>
</mappings>          
