<tr m:id="wrcd" class="borderDouble_bottom" xmlns:m="http://mayaa.seasar.org">
	<th m:id="wrcdmonth">1月合計</th>
	<td m:id="wrcdtargetamount">\800,000,000</td>
	<td m:id="wrcdslamount">\1,000,000</td>
	<td m:id="wrcdachievement">16.7%</td>
	<td m:id="wrcdbalance" class="fontColor_red">\-7,000,000</td>
	<td m:id="wrcdsum">8社</td>
	<td m:id="wrcdexisting">8社</td>
	<td m:id="wrcdnewblank">16社</td>
	<td m:id="wrcdnumbusinessdays" class="borderBold_left">60営業日</td>
	<td m:id="wrcdbusinessdays">17日目</td>
	<td m:id="wrcdefficiency">28.3%</td>
</tr>