table {
	width: 100%;
}

table.fixedWidth {
	table-layout: fixed !important;
	width: initial !important;
}

th {
	background: #F1F1F1;
}

table td,table th {
	min-width: 50px !important;
	padding-left: 5px;
	padding-right: 5px;
}

table.border-all,table.border-all>thead>tr>th,table.border-all>tbody>tr>th,table.border-all>tr>th,table.border-all>tbody>tr>td,table.border-all>tr>td
	{
	border: 1px solid black;
	border-collapse: collapse;
	Xpadding: 1px;
}

.hover tr:hover {
	background: pink;
}

/* Alternative row colours for 1-row-data table - Begin */
.alternateRow tr:nth-child(2n) td
/* Alternative row colours for 1-row-data table - End */
/* Alternative row colours for 2-row-data table - Begin */
,.alternateRow2 tr:nth-child(4n) td,.alternateRow2 tr:nth-child(4n-1) td
/* Alternative row colours for 2-row-data table - End */
/* Alternative row colours for 3-row-data table - Begin */
,.alternateRow3 tr:nth-child(6n) td,.alternateRow3 tr:nth-child(6n-1) td,.alternateRow3 tr:nth-child(6n-2) td
/* Alternative row colours for 3-row-data table - End */
	{
	background: #EEFFFF !important; /* Even rows */
}

/* Alternative row colours for 1-row-data table - Begin */
.alternateRow tr:nth-child(2n-1) td
/* Alternative row colours for 1-row-data table - End */
/* Alternative row colours for 2-row-data table - Begin */
,.alternateRow2 tr:nth-child(4n-2) td,.alternateRow2 tr:nth-child(4n-3) td
/* Alternative row colours for 2-row-data table - End */
/* Alternative row colours for 3-row-data table - Begin */
,.alternateRow3 tr:nth-child(6n-3) td,.alternateRow3 tr:nth-child(6n-4) td,.alternateRow3 tr:nth-child(6n-5) td
/* Alternative row colours for 3-row-data table - End */
	{
	background: #EFEEC9 !important; /* Odd rows */
}