<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <!-- ==================================================================================== 
        Appender -->

    <!-- Null Appender -->
    <appender name="Null_Appender" class="org.apache.log4j.varia.NullAppender">
    </appender>

    <!-- Console用Appender -->
    <appender name="Console_Appender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="ImmediateFlush" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t] %m%n" />
        </layout>
    </appender>

    <!-- 監視ログ -->
    <appender name="monitoring_daily"
        class="jp.co.inte.cspfw.log4j.FwFormattedRollingFileAppender">
        <param name="File"
            value="/var/log/demobatch/monitoring.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="99" />
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %m%n" />
        </layout>
    </appender>

    <!-- エラーログ (日次ローテーション) -->
    <appender name="error_daily"
        class="jp.co.inte.cspfw.log4j.FwFormattedRollingFileAppender">
        <param name="File" value="/var/log/demobatch/error.log" />
        <param name="Pattern"
            value="/var/log/demobatch/error_{0}_{1}.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="99" />
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %m%n" />
        </layout>
    </appender>

    <!-- デバッグログ (日次ローテーション) -->
    <appender name="debug_daily"
        class="jp.co.inte.cspfw.log4j.FwFormattedRollingFileAppender">
        <param name="File" value="/var/log/demobatch/debug.log" />
        <param name="Pattern"
            value="/var/log/demobatch/debug_{0}_{1}.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="99" />
        <param name="DatePattern" value="'.'yyyyMMdd" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %m%n" />
        </layout>
    </appender>

    <!-- Logger -->

    <!-- Commons用 Logger -->
    <logger name="org.apache.commons" additivity="true">
        <level value="ERROR" />
    </logger>


    <!--監視ログ用 Logger (monitoring.log) -->
    <logger name="monitoring.log" additivity="true">
        <level value="error" />
        <appender-ref ref="monitoring_daily" />
    </logger>

    <!--エラーログ用 Logger -->
    <logger name="error.log" additivity="true">
        <level value="error" />
        <appender-ref ref="error_daily" />
    </logger>

    <!-- デバッグログ用 Logger -->
    <logger name="debug.log" additivity="true">
        <level value="debug" />
        <appender-ref ref="debug_daily" />
    </logger>

    <!-- root Logger -->
    <root>
        <level value="DEBUG" />
    </root>
</log4j:configuration>
