<tr m:id="rltmttlItems" xmlns:m="http://mayaa.seasar.org">
	<th class="" style="width: 80px;"><a href="#" class="toggler" id="innerResultStatus9" onclick="changePicture('#innerResultStatus9');" data-prod-cat="9"><img style="vertical-align: middle;" style="vertical-align: middle;" src="img/minus.png">目標金額</a></th>
	<td class="borderDouble_right"><span m:id="rltmttltotalmonth">\6,000,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttlantotalmonth">\4,500,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttldodatotalmonth">\1,500,000</span></td>
	<td class="borderBold_left borderDouble_right"><span m:id="rltmttltotal1w">\2,000,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttlantotal1w">\1,500,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttldodatotal1w">\500,000</span></td>
	<td class="borderBold_left borderDouble_right"><span m:id="rltmttltotal2w">\2,000,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttlantotal2w">\1,500,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttldodatotal2w">\500,000</span></td>
	<td class="borderBold_left borderDouble_right"><span m:id="rltmttltotal3w">\2,000,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttlantotal3w">\1,500,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttldodatotal3w">\500,000</span></td>
	<td class="borderBold_left borderDouble_right"><span m:id="rltmttltotal4w">\2,000,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttlantotal4w">\1,500,000</span></td>
	<td class="fontSize_small"><span m:id="rltmttldodatotal4w">\500,000</span></td>
	<td class="fontSize_small">\500,000</td>
</tr>