<tr m:id="mtrlmttlItems" xmlns:m="http://mayaa.seasar.org">
	<th class="" style="width: 80px;">残金額</th>
	<td class="borderDouble_right"><span m:id="mtrlmttltotalmonth">\-5,000,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttlantotalmonth">\-3,700,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttldodatotalmonth">\-1,300,000</span></td>
	<td class="borderDouble_right borderBold_left"><span m:id="mtrlmttltotal1w">\-1000,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttlantotal1w">\-700,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttldodatotal1w">\-300,000</span></td>
	<td class="borderDouble_right borderBold_left"><span m:id="mtrlmttltotal2w">\-2,000,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttlantotal2w">\-1,500,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttldodatotal2w">\-500,000</span></td>
	<td class="borderDouble_right borderBold_left"><span m:id="mtrlmttltotal3w">\-2,000,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttlantotal3w">\-1,500,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttldodatotal3w">\-500,000</span></td>
	<td class="borderDouble_right borderBold_left"><span m:id="mtrlmttltotal4w">\-2,000,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttlantotal4w">\-1,500,000</span></td>
	<td class="fontSize_small"><span m:id="mtrlmttldodatotal4w">\-500,000</span></td>
	<td class="fontSize_small">\-500,000</td>
</tr>