<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:m="http://mayaa.seasar.org" xml:lang="ja" lang="ja">
<head>
<meta charset="UTF-8">
    <title>接触予定・履歴一覧|システム名</title>
    <meta http-equiv="Content-Language" content="ja" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <link href="../css/Y100.css" rel="stylesheet" type="text/css"
        media="all" />
    <link href="../css/reset.css" rel="stylesheet" type="text/css"
        media="all" />
    <link href="../css/common.css" rel="stylesheet" type="text/css"
        media="all" />
    <link href="../js/prettyPopin/prettyPopin.css" rel="stylesheet"
        type="text/css" media="all" />
    <link href="favicon.ico" rel="shortcut icon"
        type="image/vnd.microsoft.icon" />
    <link href="favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>

    <script type="text/javascript"
        src="../js/Placeholder/Placeholder.js"></script>
    <script type="text/javascript" src="../js/TextCount/TextCount.js"></script>
    <script type="text/javascript" src="../js/OpenClose/OpenClose.js"></script>
    <script type="text/javascript"
        src="../js/prettyPopin/jquery.prettyPopin.js"></script>

    <link rel="stylesheet"
        href="/crm-web/css/smoothness/jquery.ui.all.css" />
    <script src="../js/minified/jquery.ui.core.min.js"></script>
    <script src="../js/minified/jquery.ui.datepicker.min.js"></script>
    <script src="../js/minified/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <!-- Paging -->
    <link type="text/css" rel="stylesheet"
        href="..//js/Pagenation/simplePagination.css" />
    <script type="text/javascript"
        src="../js/Pagenation/jquery.simplePagination.js"></script>
    <!-- Fixed row/column table -->
    <script type="text/javascript" src="../js/Grid/jquery.tablefix.js"></script>

    <!-- Paging controls -->
    <script type="text/javascript" m:id="pageNation1Mayaa">
					var totalPages = 20;
				</script>

    <script type="text/javascript">
					$(function() {
						$("#pageNation1").pagination({
							items : totalPages,
							displayedPages : 3,
							prevText : '前へ',
							nextText : '次へ',
							cssStyle : 'IBS-theme'
						});
					});
				</script>

    <script type="text/javascript">
					window.onload = function() {
						$("a[rel^='prettyPopin']").prettyPopin({
							modal : true,
							width : 1300,
							followScroll : false,
							loader_path : 'img/loading.gif'
						});

						$('.Col_fix').tablefix({
							width : 1188,
							height : 550,
							fixRows : 2
						});
					};

					//Date picker
					$(function() {
						$(".date").datepicker();
						$(".date").datepicker("option", "showOn", 'button');
						$(".date")
								.datepicker("option", "buttonImageOnly", true);
						$(".date").datepicker("option", "buttonImage",
								'../img/ico_datepicker.png');
					});

					$(".date").datepicker({
						beforeShowDay : function(date) {
							//日曜日
							if (date.getDay() == 0) {
								return [ true, "ui-datepicker-sunday" ];
								//土曜日
							} else if (date.getDay() == 6) {
								return [ true, "ui-datepicker-saturday" ];
								//平日
							} else {
								return [ true ];
							}
						}
					});

					function validateForm() {
						//TODO: validate form values here.
						return true;
					}

					function ajaxSearch(formId, submitButtonId) {
						var action = $('form#' + formId).attr('action');
						var params = $('form#' + formId).serialize();
						var fullUrl = action + '?' + params;

						//Disable submit button
						$.ajax({
							type : 'POST',
							url : fullUrl,
							success : function(data) {
								try {

									//Enable submit button
								} catch (e) {
								} finally {
								}
							}
						});
					}

					function deleteMultiple(formId, submitButtonId) {
						//TODO show confirm message
						if (!hasSelectedItems()) {
							return;
						}
						var action = $('form#' + formId).attr('action');
						var params = $('form#' + formId).serialize();
						var fullUrl = action + '?' + params;

						//Disable submit button
						$.ajax({
							type : 'POST',
							url : fullUrl,
							success : function(data) {
								try {

									//Enable submit button
								} catch (e) {
								} finally {
								}
							}
						});
					}

					function showMessage(messageId) {
						alert(messageId);
					}

					function hasSelectedItems() {
						var selectedItems = $(
								'form#deleteForm input:checked[name="ids"]')
								.size();
						if (selectedItems > 0) {
							return true;
						} else {
							showMessage('OCRM0007');
							return false;
						}
					}
				</script>
</head>

<body>
    <div id="wrapper">
        <div id="commonHeaderY"></div>
        <!-- Header END -->

        <div id="mainContents" class="clearfix">
            <div id="centerContents">
                <h2 class="headline2">接触予定・履歴一覧</h2>

                <!-- 検索条件入力 start-->
                <h3 class="headlineSample2">検索</h3>
                <form id="searchForm" action="/crm-web/y100/search"
                    onsubmit="return validateForm();">
                    <div class="float_left">
                        <p class="tableTitle">私の予定</p>
                        <select id="msdPld" name="msdPld">
                            <span id="m:msdPldItms">
                                <option m:id="msdPldValue" value=""><span
                                        m:id="msdPldLbl">--
                                        選択してください --</span></option>
                        </span>
                            <span m:id="forMokUp">
                                <option value="サンプル2">本日の予定・履歴（5件）</option>
                                <option value="サンプル3">今週の予定・履歴（13件）</option>
                                <option value="サンプル4">期限切れの予定（2件）</option>
                        </span>
                        </select>
                    </div>
                    <div class="float_left m_left25">
                        <div>
                            <!--実行担当者-->
                            <p class="tableTitle">
                                実行担当者<a m:id="cgempBtn"
                                    class="greyButton button_w70 button_itemSelect float_right m_top-3"
                                    href="../C207.html"
                                    rel="prettyPopin">担当営業選択</a>
                            </p>
                            <table
                                class="commonTableBox commonTableBox_left">
                                <tr>
                                    <th style="width: 80px;">担当営業名</th>
                                    <td m:id="cgempnm"
                                        style="width: 185px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>統括部</th>
                                    <td m:id="ctrldeptnm">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>部</th>
                                    <td m:id="depnm">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>グループ</th>
                                    <td m:id="grpnm">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        <div class="m_top20">
                            <!--設定担当者-->
                            <p class="tableTitle">
                                設定担当者<a m:id="s_cgempselectBtn"
                                    class="greyButton button_w70 button_itemSelect float_right m_top-3"
                                    href="../C207.html"
                                    rel="prettyPopin">担当営業選択</a>
                            </p>
                            <table
                                class="commonTableBox commonTableBox_left">
                                <tr>
                                    <th style="width: 80px;">担当営業名</th>
                                    <td m:id="s_cgempnm"
                                        style="width: 185px"></td>
                                </tr>
                                <tr>
                                    <th>統括部</th>
                                    <td m:id="s_ctrldeptnm"></td>
                                </tr>
                                <tr>
                                    <th>部</th>
                                    <td m:id="s_depnm"></td>
                                </tr>
                                <tr>
                                    <th>グループ</th>
                                    <td m:id="s_grpnm"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="float_left m_left20"
                        style="width: 662px;">
                        <div style="width: 350px">
                            <!--顧客-->
                            <p class="tableTitle">
                                顧客<a m:id="cltselectBtn"
                                    class="greyButton button_w70 button_itemSelect float_right m_top-3"
                                    href="../N102.html"
                                    rel="prettyPopin">顧客選択</a>
                            </p>
                            <table
                                class="commonTableBox commonTableBox_left">
                                <tr>
                                    <th style="width: 80px;">顧客名</th>
                                    <td m:id="cltnm"
                                        style="width: 255px"></td>
                                </tr>
                                <tr>
                                    <th>顧客CD</th>
                                    <td m:id="cltcd"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="m_top20">
                            <!--内容-->
                            <p class="tableTitle">内容</p>
                            <table
                                class="commonTableBox commonTableBox_left">
                                <tr>
                                    <th style="width: 80px;">活動ｽﾃｰﾀｽ</th>
                                    <td style="width: 565px;"><input
                                        m:id="nostartCbx"
                                        name="nostartCbx"
                                        type="checkbox" class="m_left4"
                                        id="checkboxs1" checked>
                                            <label m:id="nostart"
                                            class="m_left4 m_right10"
                                            for="checkboxs1">未着手</label>
                                            <input m:id="delayCbx"
                                            name="delayCbx"
                                            type="checkbox"
                                            class="m_left4"
                                            id="checkboxs2" checked>
                                                <label m:id="delay"
                                                class="m_left4 m_right10"
                                                for="checkboxs2">着手遅れ</label>
                                                <input m:id="s_compCbx"
                                                id="checkboxs3"
                                                class="m_left4"
                                                type="checkbox"
                                                name="checkbox">
                                                    <label m:id="s_comp"
                                                    class="m_left4 m_right10"
                                                    for="checkboxs3">完了</label></td>
                                </tr>
                                <tr>
                                    <th>活動目的</th>
                                    <td style="line-height: 22px;"><input
                                        m:id="approachCbx"
                                        name="approachCbx"
                                        type="checkbox" class="m_left4"
                                        id="checkboxp1" checked>
                                            <label m:id="approach"
                                            class="m_left4 m_right10"
                                            for="checkboxp1">アプローチ</label>
                                            <input m:id="businessCbx"
                                            name="businessCbx"
                                            type="checkbox"
                                            class="m_left4"
                                            id="checkboxp2" checked>
                                                <label m:id="business"
                                                class="m_left4 m_right10"
                                                for="checkboxp2">商談</label>
                                                <input
                                                m:id="interviewCbx"
                                                name="interviewCbx"
                                                type="checkbox"
                                                class="m_left4"
                                                id="checkboxp13" checked>
                                                    <label
                                                    m:id="interview"
                                                    class="m_left4 m_right10"
                                                    for="checkboxp13">取材</label>
                                                    <input
                                                    m:id="followCbx"
                                                    name="followCbx"
                                                    type="checkbox"
                                                    class="m_left4"
                                                    id="checkboxp4"
                                                    checked> <label
                                                        m:id="follow"
                                                        class="m_left4 m_right10"
                                                        for="checkboxp4">フォロー</label>
                                                        <input
                                                        m:id="collectCbx"
                                                        name="collectCbx"
                                                        type="checkbox"
                                                        class="m_left4"
                                                        id="checkboxp5"
                                                        checked>
                                                            <label
                                                            m:id="collect"
                                                            class="m_left4 m_right10"
                                                            for="checkboxp5">原本回収</label>
                                                            <input
                                                            m:id="billCbx"
                                                            name="billCbx"
                                                            type="checkbox"
                                                            class="m_left4"
                                                            id="checkboxp6"
                                                            checked>
                                                                <label
                                                                m:id="bill"
                                                                class="m_left4 m_right10"
                                                                for="checkboxp6">集金</label>
                                                                <input
                                                                m:id="distributeCbx"
                                                                name="checkbox"
                                                                type="checkbox"
                                                                class="m_left4"
                                                                id="checkboxp7"
                                                                checked>
                                                                    <label
                                                                    m:id="distribute"
                                                                    class="m_left4 m_right10"
                                                                    for="checkboxp7">配本</label>
                                                                    <br>
                                                                        <input
                                                                        m:id="telmailCbx"
                                                                        name="checkbox"
                                                                        type="checkbox"
                                                                        class="m_left4"
                                                                        id="checkboxp8"
                                                                        checked>
                                                                            <label
                                                                            m:id="telmail"
                                                                            class="m_left4 m_right10"
                                                                            for="checkboxp8">先TEL・先メール対応</label>
                                                                            <input
                                                                            m:id="mutualCbx"
                                                                            name="checkbox"
                                                                            type="checkbox"
                                                                            class="m_left4"
                                                                            id="checkboxp9"
                                                                            checked>
                                                                                <label
                                                                                m:id="mutual"
                                                                                class="m_left4 m_right10"
                                                                                for="checkboxp9">相互紹介対応</label>
                                                                                <input
                                                                                m:id="transferCbx"
                                                                                name="checkbox"
                                                                                type="checkbox"
                                                                                class="m_left4"
                                                                                id="checkboxp10"
                                                                                checked>
                                                                                    <label
                                                                                    m:id="transfer"
                                                                                    class="m_left4 m_right10"
                                                                                    for="checkboxp10">顧客引継ぎ</label>
                                                                                    <input
                                                                                    m:id="otherCbx"
                                                                                    name="checkbox"
                                                                                    type="checkbox"
                                                                                    class="m_left4"
                                                                                    id="checkboxp11"
                                                                                    checked>
                                                                                        <label
                                                                                        m:id="other"
                                                                                        class="m_left4 m_right10"
                                                                                        for="checkboxp11">その他</label></td>
                                </tr>
                                <tr>
                                    <th>活動方法</th>
                                    <td style="line-height: 22px;"><input
                                        m:id="burstCbx" name="checkbox"
                                        type="checkbox" class="m_left4"
                                        id="checkboxm1" checked>
                                            <label m:id="burst"
                                            class="m_left4 m_right10"
                                            for="checkboxm1">飛込み</label>
                                            <input m:id="visitCbx"
                                            name="checkbox"
                                            type="checkbox"
                                            class="m_left4"
                                            id="checkboxm2" checked>
                                                <label m:id="visit"
                                                class="m_left4 m_right10"
                                                for="checkboxm2">訪問</label>
                                                <input m:id="telCbx"
                                                name="checkbox"
                                                type="checkbox"
                                                class="m_left4"
                                                id="checkboxm3" checked>
                                                    <label m:id="tel"
                                                    class="m_left4 m_right10"
                                                    for="checkboxm3">電話</label>
                                                    <input m:id="faxCbx"
                                                    name="checkbox"
                                                    type="checkbox"
                                                    class="m_left4"
                                                    id="checkboxm4"
                                                    checked> <label
                                                        m:id="fax"
                                                        class="m_left4 m_right10"
                                                        for="checkboxm4">FAX</label>
                                                        <input
                                                        m:id="mailCbx"
                                                        name="checkbox"
                                                        type="checkbox"
                                                        class="m_left4"
                                                        id="checkboxm5"
                                                        checked>
                                                            <label
                                                            m:id="mail"
                                                            class="m_left4 m_right10"
                                                            for="checkboxm5">メール</label>
                                                            <input
                                                            m:id="sendCbx"
                                                            name="checkbox"
                                                            type="checkbox"
                                                            class="m_left4"
                                                            id="checkboxm6"
                                                            checked>
                                                                <label
                                                                m:id="send"
                                                                class="m_left4 m_right10"
                                                                for="checkboxm6">DM・資料送付</label>
                                                                <br>
                                                                    <input
                                                                    m:id="officeCbx"
                                                                    name="checkbox"
                                                                    type="checkbox"
                                                                    class="m_left4"
                                                                    id="checkboxm7"
                                                                    checked>
                                                                        <label
                                                                        m:id="office"
                                                                        class="m_left4 m_right10"
                                                                        for="checkboxm7">来社</label>
                                                                        <input
                                                                        m:id="diningCbx"
                                                                        name="checkbox"
                                                                        type="checkbox"
                                                                        class="m_left4"
                                                                        id="checkboxm8"
                                                                        checked>
                                                                            <label
                                                                            m:id="dining"
                                                                            class="m_left4 m_right10"
                                                                            for="checkboxm8">会食</label>
                                                                            <input
                                                                            m:id="s_otherCbx"
                                                                            name="checkbox"
                                                                            type="checkbox"
                                                                            class="m_left4"
                                                                            id="checkboxm9"
                                                                            checked>
                                                                                <label
                                                                                m:id="s_other"
                                                                                class="m_left4 m_right10"
                                                                                for="checkboxm9">その他</label></td>
                                </tr>
                                <tr>
                                    <th>日付</th>
                                    <td><input m:id="strdt"
                                        name="#" type="text"
                                        class="date"
                                        style="width: 85px;" title=""
                                        value="" maxlength="10">
                                            &nbsp;～&nbsp; <input
                                            m:id="enddt" name="#4"
                                            type="text" class="date"
                                            style="width: 85px;"
                                            title="" value=""
                                            maxlength="10"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="searchBottomBox">
                        <!--検索ボタンエリア-->
                        <!--                    <div class="">
                        <input id="radio1" type="radio" checked="checked" name="radio_A"><label class="m_left4 m_right10" for="radio1">完全一致</label>
                        <input id="radio2" type="radio" name="radio_A"><label class="m_left4 m_right10" for="radio2">部分一致</label>
                        </div>
                        -->
                        <div class="m_top5">
                            <a id="selectBtn"
                                class="blueButton button_w100 m_right15"
                                href="javascript:ajaxSearch('searchForm', this.id);">検索</a><a
                                m:id="clearBtn"
                                class="greyButton button_w100" href="#"
                                onclick="return false;">検索条件クリア</a>
                        </div>
                    </div>
                    <div class="float_lr_clear"></div>
                    <br />
                </form>
                <!-- 検索条件入力 end-->

                <!-- 接触予定・履歴一覧 start-->
                <h3 class="headlineSample2">接触予定・履歴一覧</h3>
                <div m:id="tapproachplanhisWrapper"></div>
                <!-- 接触予定・履歴一覧 end-->
            </div>
        </div>
        <!-- div#mainContents END -->
        <div id="footer">
            <p id="copyright"></p>
        </div>
        <!-- div#footer END -->
    </div>
    <!-- div#wrapper -->
</body>
</html>