<tr m:id="horeItems" xmlns:m="http://mayaa.seasar.org">
	<td><span m:id="no">１</span></td>
	<td class="textCenter"><label>
		<input m:id="selectCbx" type="checkbox" name="checkBotton"
		value="">
	</label></td>
	<td><span m:id="hocd">C00000001</span></td>
	<td class="sampleOverflow"><span m:id="honm">セブンイレブンジャパン</span></td>
	<td class="fontSize_small sampleOverflow"><span m:id="hokn">セブンイレブンジャパン</span></td>
	<td><span m:id="hoid">HC000001</span></td>
	<td><span m:id="apolloid">00000001</span></td>
	<td><span m:id="mhostshiscd">●</span></td>
	<td><span m:id="reptel">03-1111-1111</span></td>
	<td class="sampleOverflow"><span m:id="prefnm">東京都</span></td>
	<td class="sampleOverflow"><span m:id="ctynm">渋谷区</span></td>
	<td class="sampleOverflow"><span m:id="repnm">田中 幸三</span></td>
</tr>